[2017-06-24 18:04] alidcastano opened #1 "hot module replacement for layouts"
For some reason, the content layout files are *not* being automatically updated when changed even though hot module replacement does work for the markdown files inside the content directories.

@pi0 @Atinux Does Nuxt handle this differently for layouts?

[2017-06-24 18:31] alidcastano opened #2 "Assets in Layouts"
Assets directory: Imported styles throw an error and imported images don't load.

This is probably due to the fact that templates and styles are grabbed in advance which might interfere with usual loading. Will need to look into this.

[2017-06-25 15:08] alidcastano opened #3 "Add data option for directories"
Also need to include filename data, such as date, permalink, etc. into the component's data

[2017-06-25 21:10] #1 closed

[2017-06-29 19:53] #3 closed

[2017-06-29 19:53] #2 closed

[2017-06-29 20:52] alidcastano opened #4 "The current state of the module"
@pi0 @Atinux

Hey sorry for the delay haven't had much time this week. Here's an update on where I'm at right now.

The minimal requirement is down: you can create components based on markdown files and structure the conent based on a layout with template and styles and the front-matter data.

But there are three problems I haven't been able to fix:

- Unfortunately, Webpack limits how you can [re

[2017-06-30 03:10] znck commented on #4
@alidcastano In blog-module, I am more inclined to generate collection & tag pages, support for pagination etc. I'm not spending much time in transpiling markdown to vue component. I presume blog-module can depend on content-module.

[2017-07-07 05:26] alidcastano commented on #4
Given the constraints with webpack imports and nuxt server-client integration, I've simplified the module to providing a lightweight abstraction for using the data inside content files inside Nuxt pages. In the future, if there's demand, I'll explore transpiling  markdown to vue components, but right now the integration proved to much of a headache for such rare usage.

[2017-07-07 05:26] #4 closed

[2017-07-08 01:39] alidcastano opened #5 "hot module reloading for content files"

[2017-07-08 05:50] alidcastano opened #6 "support data files"
Add support for `yml` files.

[2017-07-08 18:45] alidcastano opened #7 "support nuxt-link"

[2017-07-08 18:46] #7 closed

[2017-07-08 19:58] alidcastano opened #8 "code splitting so that all content is not included in main bundle"

[2017-07-11 00:09] alidcastano opened #10 "convert markdown files to vue components"

[2017-07-14 11:13] t0ker opened #11 "Multiple content types"
Hi,

Having some issues with adding multiple content types,

when i add more than 3 types, it will complain:

Unhandled promise rejection (rejection id: 2): TypeError: Expected "slug" to match "[^\/]+?", but received "",

and with 3 of them, the first two will try to use the last added template. so keeps failing when going to that specific route.

How ever can still list them on the product pages

[2017-07-14 14:41] alidcastano commented on #11
Hey, @t0ker

I'm heavily refactoring the design so that all the content isn't in the client bundle and other improvements.

API will stay mostly the same, but maybe changes will fix error.

The changes will be pushed by tomorrow, latest. Can you try it then and let me know?

Also, can you elaborate on your second question – what are you trying to do?

[2017-07-14 16:02] t0ker commented on #11
Il wait for the release and try again :)

few questions until then:

1. Nest content types like parent (calls evertyhing), then nest sub folders that function as "categories". So they can be split and listed nicely.

2. Can several directories point to the same route path?  they are different categories of same type of page. ex. action, drama, comedy directories, that all share the permalink movie

[2017-07-14 18:02] alidcastano commented on #11
In response to your questions:

1. Two options: Add the categories to the data and filter the content yourself or nest the content under sub folders - e.g. `content/posts/life/somePost.md` and register the nested directories individually. Usage depends on how often you want the content all grouped together.
2. Next update will support content templates. So that shouldn't be a problem! Conveniently

[2017-07-18 08:12] t0ker commented on #11
Thank you :) Really looking forward to this

[2017-07-18 14:59] alidcastano commented on #11
Hey, sorry it's taking so long. Working on documentation site but changes have been ready. Just install `npm install nuxtent`  (changed name!)

You might run into problems with some slight changes in the API, docs will be up by tonight to aid with that as I still need to fully update `README`.

[2017-07-18 15:42] alidcastano opened #12 "option to make all nonlocal links external"

[2017-07-18 15:42] #8 closed

[2017-07-18 15:42] #6 closed

[2017-07-18 15:42] #10 closed

[2017-07-19 17:15] alidcastano opened #13 "option to make anchors for a headings"

[2017-07-19 17:17] alidcastano commented on #11
Hey, documentation is available at https://nuxtent.now.sh/

Still, some kinks to work out (not mobile yet), so not officially released.  But feel free to try new version. if you need an example check out the code in the docs which uses Nutent.

[2017-07-20 11:29] t0ker commented on #11
thanks :) will check it out right away!

Big thanks for update and support :)

[2017-07-20 23:27] alidcastano opened #14 "dynamic component imports exhibit inconsistent behavior"
Using async components inside loaders is exhibiting weird, inconsistent behavior.

This method only works if the project is in the same directory as Nuxt root.

1.

[code]

This method works even if the directory is not the same as Nuxt root, but it's not async.

2.

[code]

So I used guards to check if the directories matched to choose which method to use, but of course, even though the first met

[2017-07-21 05:08] alidcastano opened #15 "incorrect HTML markup"
Getting the following warning:

[code]
Seems like the problem has to do with the way JSX plugin is rendering HTML, as the issue dissapears if the HTML is rendered via `v-html` directive in a vue template.

Opened issue on JSX: https://github.com/vuejs/babel-plugin-transform-vue-jsx/issues/90

Current workaround is to check if `body` is a component or HTML, if it's a component use `nuxtent-body`, i

[2017-07-21 05:30] alidcastano opened #16 "nested sections and permalink"
Right now they do not influence permalink. Only file name does.

Either add them to permalinks or add safe guard against conflicting names.

Caveat: not adding them leaves the flexibility of using nested sections as categories.

[2017-07-21 19:17] alidcastano commented on #11
No problem.  I'm closing this issue for now since new version is officially released. Feel free to open it back up or open up a new one if you encounter any problems!

I've also updated examples and docs, which you can use as guidance.

[2017-07-21 19:17] #11 closed

[2017-07-21 19:20] xemoka opened #17 "platform compatibility with Windows"
Hello, I'm quite interested in what you're developing here, it's been on my list as well—not nearly as robust as what could come from this.

My problem is I can't seem to get it running anywhere _[for future readers, it does operate fine on MacOS]_. Either following your help documentation, using the 'examples' (after updating them to match the documentation), the 'docs', or using the nuxtent-star

[2017-07-21 19:33] alidcastano commented on #17
Weird... I JUST updated the documentation and examples. How recently did you test it?

[2017-07-21 19:42] alidcastano commented on #17
If the problem is the navigation then you might be using the wrong baseURL.

Make sure you set this appropriately:

[code]

[2017-07-21 19:46] alidcastano commented on #17
You can also go to the endpoint using the 'http://localhost:3000'/content-api/' path, it should show you JSON of appropriate content data.

For example:
If you're using 'content/posts' registered directory then  'http://localhost:3000'/content-api/posts' should show you all posts data.

[2017-07-21 19:49] xemoka commented on #17
15 minutes ago. I see you updated the examples, just pulled down the new examples and tried a run on the _markdown-components_ and _multiple-content-types_. On Windows, MacOS & Linux I initially get:

I can correct this by replacing the pinned nuxt version with `latest`, but results in still having the navigation problem. SSR still works on Linux, not on windows.

Testing it on a MacOS machine, it

[2017-07-21 19:51] xemoka commented on #17
The _content-api_ loads fine on all platforms.

[2017-07-21 20:00] alidcastano commented on #17
Yeah, I've unfortunately only had the chance to test it on Mac.

So to be clear: with updated examples:
- It works on Linux.
- On Windows SSR doesn't work, but you still see the data when you go to the appropriate `content-api` endpoint.

Is there really no error messages - either in the inspector or in the terminal?

[2017-07-21 20:06] xemoka commented on #17
With updated examples,
* Linux only provides SSR pages, hydration (is that the correct term?) does not work; you must type / manually navigate to the page url
* On windows both SSR and navigation does not work.
* On both Linux and Windows the content-api appears functional.

On Linux, the JS console spits out the following on navigation:
[code]
There are no console errors on SSR load, and just a 4

[2017-07-21 20:11] xemoka commented on #17
Well, that last error on Linux is avoidable with CORS setup.

So at least there's that found out. I'm not sure why MacOS doesn't have the same problem...

[2017-07-21 20:21] alidcastano commented on #17
Good to know that at least something works 😅

Ok, so let's narrow this down:

Hydration issue I'm aware of. If you're referring to `incorrect HTML markup error`. I opened up seperate [issue](https://github.com/nuxt-community/nuxtent/issues/150) for that. Problem seems to be with JSX rendering HTML because if you use `v-html` directive, the error goes away. But ideally, I need JSX so that users can

[2017-07-21 20:31] alidcastano commented on #17
Unfortunately, I don't have a windows computer to test this out -- can you try fetching from that same endpoint on your own (without the `app.$content` helper) and see if that works?

[2017-07-21 20:40] xemoka commented on #17
On windows it returns a 404 when manually entering the page, perhaps it's encountering a problem even before rendering?

I wish I understood more about Nuxt's routing—and how it interfaces with Nuxtent... still working on that myself.

[2017-07-21 20:53] xemoka commented on #17
Further hammering:

The user is presented a 127.0.0.1 url from webpack's dev server to load in the browser. The `content-api` is being loaded from localhost; this results in CORS problems, and stops navigation. This is valid for box MacOS an Linux. I was loading manually from localhost when testing MacOS.

This can be solved by either always using 127.0.0.1 or localhost throughout -> I'm not sure

[2017-07-21 21:01] alidcastano commented on #17
Yea, `Nuxtent` sends a 404 is sent if the `content-api` endpoint doesn't exist, which would happen with different base URLs. (see https://github.com/nuxt-community/nuxtent/blob/master/lib/core/api.js#L32)

We probably just need to configure `axios` appropriately to solve the CORS problem. (see https://github.com/nuxt-community/nuxtent/blob/master/lib/module.js#L100)

Right now I'm only providing a

[2017-07-21 21:17] alidcastano commented on #17
From [axios](https://github.com/nuxt-community/modules/tree/master/modules/axios) module readme:
[code]
Which is weird since both of them should point to same  host and port... only thing being changed is prefix.

[2017-07-21 21:52] xemoka commented on #17
I think a solution for the CORS issue is to use `127.0.0.1` as the final host option instead of `localhost` ( https://github.com/nuxt-community/nuxtent/blob/master/lib/module.js#L9 ). That way everything lines up as expected if you don't have `process.env.HOST` set.

Still trying to figure out the windows glitch.

[2017-07-21 21:56] alidcastano commented on #17
But the axios module uses the same fallback `https://github.com/nuxt-community/modules/blob/master/modules/axios/index.js#L7`. Have you checked if using the module works for you? It might not be specific to Nuxtent.

[2017-07-22 00:56] alidcastano commented on #17
Have you checked out the `env` property for Nuxt? https://nuxtjs.org/api/configuration-env/#the-env-property.

Also the fallback wouldn't matter because you can pass your own custom option that overrides it (see: https://github.com/nuxt-community/nuxtent/blob/master/lib/module.js#L33)

e.g.

[code]

[2017-07-22 01:02] xemoka commented on #17
Yep, it helps the CORS issue, but the defaults still present `localhost` as the content api endpoint and `127.0.0.1` as the webpack dev server location.

Also setting a `HOST` or `PORT` environment variable does this too.

[2017-07-22 01:19] alidcastano commented on #17
Ah okay but that's not a problem with Nuxtent. All Nuxtent does is hook up to the existing `serverMiddleware` and use `axios` module to request that endpoint.

I'd open up the issue in the nuxt.js, or `@nuxtjs/axios` module repo and perhaps @pi0 will have a better answer.

[2017-07-22 14:11] alidcastano opened #18 "mustache tags inside code snippets are being compiled by component"
They need to be interpreted as raw text so that it does not cause errors.

[2017-07-22 14:12] #18 closed

[2017-07-22 20:24] #13 closed

[2017-07-22 22:56] alidcastano commented on #17
I'm going to close this issue, because, as described above, there doesn't seem to be much I can do on the Nuxtent end to resolve it.

Feel free to open it back up or open up a new one if I'm mistaken.

[2017-07-22 22:56] #17 closed

[2017-07-23 00:42] alidcastano opened #19 "regex capturing special characters in code snippets"

[2017-07-23 00:42] #19 closed

[2017-07-23 01:25] alidcastano commented on #14
Waiting till the release of Nuxt 1.0 which uses Vue 2.4 to give this another shot.

[2017-07-23 01:25] #14 closed

[2017-07-23 01:28] alidcastano opened #20 "add active styles to anchors"

[2017-07-23 02:29] alidcastano commented on #5
Content only updates on page refresh. It seems like async data is not refetching the content.

[2017-07-23 02:39] alidcastano commented on #12
This could easily be configured with a markdownit plugin and does not require much work from Nuxt, so we will leave it in user land.

[2017-07-23 02:39] #12 closed

[2017-07-23 02:50] alidcastano commented on #20
1) Nuxtent would need access to the instance for every route change and 2) This can easily be added to `computed` property.

Whether to show anchors:

[code]

And use `nuxt-link-active` class to style them.

[2017-07-23 02:50] #20 closed

[2017-07-23 02:54] alidcastano opened #21 "add categories example"

[2017-07-23 03:35] alidcastano opened #22 "severMiddleware does not run on generate"

[2017-07-24 04:55] alidcastano opened #23 "configuring parser options overrides defaults"

[2017-07-24 04:57] #23 closed

[2017-07-24 13:28] levibostian opened #24 "UnhandledPromiseRejectionWarning: Unhandled promise rejection (rejection id: 2): SyntaxError: Unexpected token ,"
nuxtent version: "nuxtent": "^0.2.27",

I have a nuxtent project that I built by checking out the nuxtent-starter template project. I got nuxtent up and running with 1 content type:

[code]

So, when I go to localhost:3000/freelance/foo I am showing data from /content/freelance/foo.md.

I am now trying to use multiple content types. The only thing that I change is my `nuxtent.config.js` file to th

[2017-07-24 14:10] alidcastano commented on #24
What version of `nuxtent` are you using? I just ran the `multiple-content-type` example which uses the same setup and there weren't any problems. Can you try running that?

If that doesn't work, please let me know the version and environment you are running on, so that I can better narrow down the issue.

[2017-07-24 14:20] alidcastano commented on #24
Also, it looks like you have an unnecessary `]` in the bottom there.

[2017-07-24 14:28] roikiermedia opened #25 "404 when using nuxt programmatically with express-template"
I setup a project with the [nuxt-community/express-template](https://github.com/nuxt-community/express-template) and installed the nuxtent module (^0.2.27). When i now start the dev-server `npm run dev` nuxtent returns a 404 status code for all content pages. The same happens on the /content-api route.
When the project is started via the `nuxt` command everything works as expected.

[2017-07-24 14:32] alidcastano commented on #25
Are they using the same dev url? You might have to configure the `baseURL` to match the nuxt starter one.

[code]
If this is the proble, look at the custom build for a complete config example. This will also be added to docs in next version.

[2017-07-24 14:44] roikiermedia commented on #25
The template uses the same url, but even after setting the `baseURL` explicitly, no content is returned.

[2017-07-24 15:10] alidcastano commented on #25
Ah, since `content-api` is returning 404 too, then using Nuxt programmatically likely interferes with `serverMiddleware`, which is how the content endpoint is setup. Might have to give the option to use Nuxtent programmatically as well for this to work.

[2017-07-24 15:20] roikiermedia commented on #24
On the docs the code example is multiple arrays nested inside an object and not multiple arrays in an array.

[2017-07-24 15:25] alidcastano commented on #24
Haha wow sorry for that 😅  I've been trying to move fast w/ Nuxtent so pointing out mistakes like that, which are easy to miss, is helpful.

I've made the change in docs, which will reflect in next release. Assuming that fixes the error, I'll go ahead and close this issue now. Feel free to open it back up if I'm wrong.

Thanks @roikiermedia and @levibostian

[2017-07-24 15:25] #24 closed

[2017-07-24 15:27] alidcastano commented on #25
Seeing with Nuxt team if there's a way to setup `serverMiddleware` programmatically, if there isn't I'll add hooks to make it possible with `Nuxtent`.

[2017-07-24 15:29] roikiermedia commented on #25
Nice. Thanks for your work!

[2017-07-24 16:25] levibostian commented on #24
Yup. [@roikiermedia's comment](https://github.com/nuxt-community/nuxtent/issues/24#issuecomment-317457649) was the issue. `content` was an object instead of an array. I have been following the docs resources closely to get this up and running.

I have finally gotten it to work. Time for me to start writing some content!

I found a couple issues with the docs myself while working through setting up

[2017-07-24 16:30] levibostian opened #26 "Example code in docs for `asyncData()` is not working."
While viewing the docs on [rendering content](https://nuxtent.now.sh/usage#rendering-content), the docs show this code snippet that you put into your nuxt page:

[code]

I entered this code into my nuxt page and it did not render the content from my .md file into the page.

I replaced the code snippet with the code snippet from the template project:

[code]

With success.

I am not sure why this m

[2017-07-24 16:34] alidcastano commented on #24
That's a huge help, thanks @levibostian

[2017-07-24 16:37] alidcastano commented on #26
Yea, in the first method, you need to await the `$content` data, as well.

It should be like this:

[code]

I'll close this and update docs, thanks for that. Feel free to open issues or PRs if you notice anything else is wrong or can be better clarified.

[2017-07-24 16:37] #26 closed

[2017-07-24 19:45] alidcastano opened #27 "add query option to content request methods"
So that you can include, exclude, filter, map etc. and return the processed output.

Ex:

[code]

[2017-07-24 19:47] alidcastano commented on #27
@levibostian

[2017-07-24 21:39] xemoka commented on #17
Well... I'm not sure if that's it. Sure it could be that the CORS problem is solvable upstream, but the windows issue is separate: there's two issues discussed in this post, 1) the cors problem, 2) the windows compatibility issue, unfortunately I haven't had more time to dig into that—or if the windows issue is also due to upstream. You're probably right, but I just can't see it yet. I'll have to

[2017-07-24 21:57] alidcastano commented on #17
Yeah, that's what I was going to recommend - give axios module a try by itself and get back to me.

[2017-07-24 22:31] alidcastano commented on #25
Can you try setting this line ( https://github.com/nuxt-community/express-template/blob/master/template/server/index.js#L7) to `http://localhost:3000` and/or set baseURL to `'127.0.0.1:3000'`.

[2017-07-24 23:54] alidcastano commented on #27
One constraint that would need to be made is that only one bundle of json content is allowed per route.

[2017-07-25 14:07] levibostian commented on #27
As I have been toying around with this idea over night, the biggest piece of value we can provide to give the ability of collections is by allowing someone to query nuxtent content to get X number of results back ordered by some key.

[code]

The `latest()` function above is pretty self-explanatory.

Then, with `v-for` I should be able to iterate `app.$content('/sectionname').getAll().latest(3, 'd

[2017-07-25 16:21] levibostian opened #28 "Nuxtent content pages do not allow Vuejs components before <nuxtent-body/>"
On my site that I am using Nuxtent with, here is an example Nuxtjs page that I have:

[code]

When I browse to `127.0.0.1:3000/freelance/projectname`, I successfully see the content from my .md file: `content/freelance/projectname`. Nuxtent is setup correct there.

Now, here is the problem.

In my page template HTML, if I specify Vuejs components *before* `<nuxtent-body>`, those Vuejs components g

[2017-07-25 16:23] levibostian commented on #28
You can browse and run my code at this state via repo: https://github.com/levibostian/levibostian.com/tree/90a9b1d88dba8e34869728163c9e0f971d3b7de5

[2017-07-25 17:51] alidcastano commented on #27
While this makes API easier, the only drawback with doing it this way is that you're still fetching ALL the data, when you might only need the data from the latest 3 posts.

Imagine at scale, rendering 1000 posts and then filtering to latest 3. Versus, just getting the latest 3 via their file name on the server and then sending them over to the client.

[2017-07-25 17:58] alidcastano commented on #28
Are you trying to render HTML? If so can you try rendering it with`v-html="post.body"`. Let me know if that makes a difference.

Going to handle some other issues first (https://github.com/nuxt-community/nuxtent/issues/22, https://github.com/nuxt-community/nuxtent/issues/27), then I'll look at this.

[2017-07-25 18:21] levibostian commented on #28
When I change `nuxtent-body.mt5(:body="post.body")` to `nuxtent-body.mt5(v-html="post.body")` and load up site in browser, Vue throws an error:

<img width="338" alt="screen shot 2017-07-25 at 1 20 19 pm" src="https://user-images.githubusercontent.com/2041082/28587268-27307344-713c-11e7-8754-be3e3abe4384.png">

[2017-07-25 18:47] alidcastano commented on #28
v-html is  vue directive for rendering HTML, unreleated to Nuxtent.

It would be `div(v-html="post.body")`

--

The reason I ask is to see if it is related to https://github.com/nuxt-community/nuxtent/issues/15, which is a problem with JSX rendering HTML.

`nuxtent-body` is just a component that checks if the content body is HTML or a component and renders with JSX appropriately.

So in the meanti

[2017-07-25 23:46] alidcastano commented on #22
There seems to be a conflict with payloads of non-dynamic and dynamic routes. Until the issue is resolved (https://github.com/nuxt/nuxt.js/issues/1151), they will have limited usage, if any.

[2017-07-25 23:51] #21 closed

[2017-07-25 23:51] #16 closed

[2017-07-25 23:53] alidcastano opened #29 "content not being fetched in non static builds"

[2017-07-25 23:55] #29 closed

[2017-07-26 00:13] alidcastano commented on #22
Until this is fixed, nuxtent will primarily have to be used in running apps rather than static sites if people want to use `getAll` with `get` with one route and it's nested children.

[2017-07-26 02:04] alidcastano opened #30 "markdown regex capturing markdown links"

[2017-07-26 02:05] #30 closed

[2017-07-31 13:57] levibostian commented on #28
Yes, `div(v-html="post.body")` does the trick. My markdown content is being shown.

At the moment, I do not need to declare components inside of my `.md` files so `div(v-html="post.body")` works for me at the moment.

I should be good to go with this solution until the JSX issues are resolved.

[2017-07-31 17:41] alidcastano commented on #28
Great I'll go ahead and close this. I'd be careful updating packages as it's still in WIP stage, unfortunately. Only update to package version in `releases` as anything between there are no guarantees.

[2017-07-31 17:41] #28 closed

[2017-07-31 19:31] levibostian commented on #28
Understood. Thank you.

[2017-07-31 21:59] alidcastano opened #31 "multiple content routes path conflicting"

[2017-07-31 22:00] #31 closed

[2017-07-31 22:33] alidcastano opened #32 "provide route path instead and serialize to route name"

[2017-07-31 22:34] #32 closed

[2017-08-01 02:08] alidcastano opened #33 "add path to page data"

[2017-08-01 02:09] #33 closed

[2017-08-01 16:44] alidcastano opened #34 "markdown components do not work with nuxt ^rc3 version"

[2017-08-02 20:08] levibostian opened #35 "Out of memory exception."
I have a site that is pretty content heavy with over 40 `.md` files in 9 different sections. When I go to compile the site, it takes about a minute for nuxt to start serving my site. After I view the site, visit a few links, make 1 or 2 changes to content in my site, nuxt will crash.

Below is the stacktrace. Not sure if it's nuxtjs, nuxtent-module, node, etc.

nuxtjs version: `latest`
nuxtent-mod

[2017-08-02 20:09] alidcastano commented on #22
Payloads were meant to prevent multiple API calls, not to pass data to pages for static builds. Thus,  their usage can be avoided if we get `serverMiddleware` to work in static build.

This will require either 1) Nuxt to make this happen 2) Nuxtent to build its own generate command.

[2017-08-02 20:11] alidcastano commented on #35
Can you upgrade to latest version, I've just released it and updated docs, as well. Get back to me if you still experience the same problem.

[2017-08-02 20:26] levibostian commented on #35
Ok, I will upgrade when I can.

It seems to happen on my machine after the 2nd time building the site. I can build the site once, browse the site no problem. Once I edit something on the site and have nuxtjs kick off a new build, that is when I get the crash.

[2017-08-03 00:40] levibostian opened #36 "Browser tab stalled on application load."
I upgraded my site to the newest version of nuxtent (v0.2.57). When I run `nuxt build`, my site successfully builds and the command succeeds.

When I then run `nuxt start`, my nuxt server starts up successfully and listens for me to connect.

When I open my browser, open up to 127.0.0.1:3000/ like I have it configured to, I successfully call the nuxt web server and it begins fetching data and rend

[2017-08-03 00:40] levibostian commented on #35
I have upgraded to the newest version and will see if I can cause this exception to happen again. I will check back with updates.

[2017-08-03 00:43] levibostian commented on #36
Also, I should note another weird behavior of nuxtent with the newest version.

When I am running nuxt dev mode and I load up my application's homepage, I am getting the same symptoms I was having [here with this issue](https://github.com/nuxt-community/nuxtent-module/issues/28) where my application's data disappears when the webpage loads. I am not using `<nuxtent-body/>` like [this](https://gith

[2017-08-03 00:48] alidcastano commented on #36
I'll look into this fully over the next couple days, hopefully, sooner.

Can you give me more context - does this happen in a specific page route or upon initial rendering?

Also, side note, make sure that you're using `alpha 3` version of Nuxt, as `rc3` has not been tested.

[2017-08-03 12:38] levibostian commented on #36
Ok, I was not running on nuxtjs alpha3. I was on rc3. After switching to alpha3 on [this commit](https://github.com/levibostian/levibostian.com/tree/986c3cc952a2f39b17ebd3c6073a36974987dd88) I am still running the same issue.

More context: it happens on the home page and on any of the pages that I have tried so far (`/freelance`, `/opensource`).

[2017-08-03 19:01] alidcastano commented on #27
After thinking this through, the option to process the data must be sent via the client to server as url query params, and cannot be specified in config if the data is to be used dynamically.

[2017-08-03 20:12] levibostian commented on #27
Isn't the data fetched server side using `asyncData` though?

[2017-08-03 20:23] alidcastano commented on #27
Sorry, poor use of words–I meant "client" as in Nuxtent page and server as in "serverMiddleware".

So instead of processing data in Nuxtent config, it'll be done as you mentioned, in `asyncData`:

for example, to exclude body from the data of requested pages:
[code]
And the request wrapper will fetch the content by sending the following request to serverMiddleware:

[code]

[2017-08-03 20:25] alidcastano commented on #27
So basically in next version you can now pluck unnecessary properties from page data. For example, if fetching pages to create navigation, you don't need the content `attributes` or `body`.

[2017-08-03 20:26] alidcastano commented on #27
Still not sure if I want to add the option to filter pages, e.g. `sort` or `latest` since I'm not sure it'll make a huge difference letting user do this.

[2017-08-04 00:11] levibostian commented on #27
As I have mentioned in previous issues, being able to cut down on compile time and payload is a good thing (really, isn't it always a good thing?). Good work.

As of being able to filter pages, I am already doing this myself. I wrote some functions to sort by the date front-matter and then give me the first 3 objects from the array. It would be nice to be able to do this without having to write my

[2017-08-04 04:20] #22 closed

[2017-08-04 15:30] levibostian commented on #35
Update: For [my nuxtjs site](https://github.com/levibostian/levibostian.com/), I have a branch that has all of the same markdown content, but is not using nuxtent. I am still getting this error.

Must be a nuxtjs error?

[2017-08-04 15:36] levibostian commented on #35
Closing issue assuming it's a duplicate of https://github.com/nuxt/nuxt.js/issues/270 and issue with node. I will play around with garbage collection in node in my application.

[2017-08-04 15:36] #35 closed

[2017-08-04 16:04] alidcastano commented on #25
Hey @roikiermedia what's your use case for wanting to use your own express server? This project was mainly meant for documentation sites, personal sites, etc. which is why I integrated into Nuxt as a module with only `serverMiddleware` option (which I feel should still work programmatically... I'll have to try it out).

[2017-08-04 16:30] alidcastano commented on #36
btw Finishing up some final updates today and then will take a look at this

[2017-08-04 18:54] alidcastano opened #37 "unit tests for database API"

[2017-08-04 19:18] #27 closed

[2017-08-04 21:27] alidcastano commented on #36
Hey, so I cloned and ran your project.

 I did not experience the browser stalling issue, but there was some weird behavior on the index page which seems to be unrelated to `nuxtent` cause by this script : `script#-clp-1502(async='', src='https://withcoach.com/landing_pages/1502/embed.js')*`. I also saw that you were using `pug` mixins. I would aim to use Vuejs props, computed properties, `v-for`

[2017-08-04 21:32] alidcastano commented on #36
I'm going to go ahead and close this issue, feel free to open it back up or open another one if you still experience a problem with Nuxtent, but I'd need a smaller reproducible issue as the clutter of a full site made it time-consuming to test with other problems going on.

[2017-08-04 21:32] #36 closed

[2017-08-04 21:37] alidcastano commented on #36
In next release, you'll be able to go to `content-api` and see all the registered content endpoints, so that you can see if the content is being compiled and loaded, or not.

[2017-08-04 23:28] alidcastano opened #38 "add query and findOnly to static build"

[2017-08-04 23:30] #38 closed

[2017-08-04 23:46] #37 closed

[2017-08-04 23:46] #5 closed

[2017-08-05 23:55] alidcastano opened #39 "content route paths not being overriden to permalink w/o generate configuration"

[2017-08-05 23:56] #39 closed

[2017-08-07 07:53] t0ker opened #40 "How to use nuxtent with i18n?"
So im working on a quite big site that is very content heavy, however I will definitely need to add i18n to support multiple languages. Is it possible to use it with Nuxtent, and any tips on how?

Thanks in advance

[2017-08-07 14:29] alidcastano commented on #40
What plugin are you using? If you can show me a basic example of how you'd do it w/o Nuxtent, then I can show you how to apply that to Nuxtent

[2017-08-08 02:06] alidcastano opened #41 "dynamic build requesting static assets instead of server assets on client side routing"

[2017-08-08 03:18] alidcastano opened #42 "webpack hmr failed with status code 404"

[2017-08-08 14:13] t0ker commented on #40
I would have started out with the i18n example nuxtjs has.

Here is the example: https://github.com/nuxt/nuxt.js/tree/dev/examples/i18n

Thanks

[2017-08-08 14:30] greenkeeper[bot] opened #43 "Action required: Greenkeeper could not be activated 🚨"
🚨 You need to enable Continuous Integration on all branches of this repository. 🚨

To enable Greenkeeper, you need to make sure that a [commit status](https://help.github.com/articles/about-statuses/) is reported on all branches. This is required by Greenkeeper because we are using your CI build statuses to figure out when to notify you about breaking changes.

Since we did not receive a CI status

[2017-08-08 18:03] #43 closed

[2017-08-08 23:44] #41 closed

[2017-08-08 23:50] #42 closed

[2017-08-09 03:11] alidcastano commented on #40
I will draft an example over the weekend. I might also add methods that offer better support for this.

[2017-08-09 22:51] alidcastano opened #44 "Make STATIC=true part of `nuxtent generate`"

[2017-08-10 08:45] t0ker commented on #40
Btw, I keep running in to this issue:

on the blog page, everything is fetched as it should, but when actually viewing the post i get a 404.

[2017-08-10 14:48] alidcastano commented on #40
It seems like you're saying `getAll` works but `get` all doesn't. Can you open up a new issue for this with some code? Unless it is another problem, it's likely that you're not passing the correct permalink to `get`. You need to pass either `route.path` or `params.slug` depending if the content is nested.

[2017-08-10 15:03] t0ker commented on #40
The link is pointing in the right direction, when i land on the post its a 404. url is correct.

Il open a new issue tonight :) thanks again

[2017-08-14 22:08] abattenburg commented on #44
Is there any documentation on what this does? When I run _'yarn generate'_ after putting 'STATIC=true' in my nuxtent.config.js, the blog portion of the site fails. Is 'nuxtent generate' and upcoming command to still allow the site to be exported statically? Thanks for the clarification!

[2017-08-14 22:24] alidcastano commented on #44
For now instead of `nuxt generate` you can run `STATIC=true nuxtent generate`

[2017-08-14 22:38] alidcastano commented on #44
Next version only requires `nuxtent generate` as the command.  `Static=true` is set automatically.

[2017-08-14 22:38] #44 closed

[2017-08-14 22:44] #25 closed

[2017-08-14 22:46] abattenburg commented on #44
When I run `STATIC=true yarn nuxtent generate`, I get a type error. I'm using the template linked in the ReadMe and I have updated. Works perfectly when running in dev. Maybe I'm still misunderstanding the command?

[code]

[2017-08-14 22:54] alidcastano commented on #44
No you're using it correctly now. Sorry for the complications, Nuxt is in a transitionary phase so you have to be mindful of versions you're using. Make sure you're using the lastest nuxt version if you want to to generate static version of site via nuxtent command (however, you won't be able to use markdown components yet with this version).

[2017-08-14 22:55] alidcastano commented on #44
run `npm install nuxt@1.0.0-rc3`

[2017-08-14 23:08] abattenburg commented on #44
Hm. Just updated to the beta and it built fine, but I then got a network error when I navigated to the markdown blogs when running in Dev, and also the same thing when testing the generated version on a webserver. I'm going to assume I messed up the template at some point and try again tomorrow from scratch.

Thank you for the guidance on this issue and all the work you've put into this module! I

[2017-08-14 23:13] alidcastano commented on #44
Feel free to open up a new issue with the error information otherwise.

There is a 404 error caused by hot module reloading that I was getting as well, so it might be the same issue. I intend to fix it since it's annoying to see on the terminal but it shouldn't prevent the content from beign fetched and rendered.

[2017-08-15 00:28] #40 closed

[2017-08-15 00:31] alidcastano commented on #40
You don't really need a plugin for this actually. You just need to register each language as a separate content directory so that an API endpoint is created for each, and then fetch it appropriately inside Nuxt.js pages.

Here's a basic example: https://github.com/nuxt-community/nuxtent-module/tree/master/examples/i18n

[2017-08-15 21:19] cesasol opened #45 "Add sitemap example"
There is a way to automatically add the routes generated with nuxtent to the sitemap module?

[2017-08-15 22:03] alidcastano commented on #45
I'll add an example soon.

Pretty sure you can just fetch content endpoint and get permalinks only.

e.g. `axios.get('content-api/posts').map(page => page.permalink)`

Will need to verify this works though. :)

[2017-08-17 13:51] AlexeyKot opened #46 "Update "Examples" projects"
Hi!

I wanted to try examples, so I downloaded your repo, went in "single-content-type" folder and tried `npm i`, but got error.
Looks like in your `package.json` you set a dependency like
`"nuxtent": "file:///Users/acastano/Sites/nuxt/nuxtent"`
which, of course, doesn't work.
Same is for other examples.
I'm nue to Nuxt and your project looks very interesting. Can you please update the examples?

[2017-08-17 14:00] AlexeyKot commented on #34
Having the same issue with Nuxt rc4.
when trying to run a starting template with rc4 and running `npm run dev`, having this:
`
 WARNING  Compiled with 1 warnings                                                                              16:56:34

 warning  in ./content/HelloWorld.comp.md

Module build failed: TypeError: Cannot read property 'Symbol(Symbol.iterator)' of null
    at getSection (C:

[2017-08-19 14:27] alidcastano commented on #46
I'll do that soon. I was waiting for Nuxt to stabilize before making more updates. For the examples I just have to install actual nuxt package rather than local version, but they should work aside from that.

[2017-08-21 17:38] josh-- opened #47 "isAPI not set correctly when using generate"
It looks like there might be an issue how IsAPI is being set within lib/plugin.js

https://github.com/nuxt-community/nuxtent-module/blob/master/lib/plugin.js#L35

when generating a static site isAPI is always true even when isClient is true. When serving the generated site via nginx the browser tries to load the "api" url rather than generated content one. I simply added the following, regenerated

[2017-08-21 18:02] alidcastano commented on #47
Are you using `STATIC=true nuxtent generate`?  (Next release will just be `nuxtent generate` just need to publish it).

If so, then it should be set to false. Let me know.

[2017-08-21 18:55] josh-- commented on #47
perhaps it's something different but it definitely appears to be something going on with the that check.

when i run the command without `STATIC=true` it doesn't generate the dynamic routes.

when i run the command with `STATIC=true` it does generate the dynamic routes. so i'm pretty sure the variable is getting set correctly initially.

problem is that even though i run the command with `STATIC=t

[2017-08-21 19:35] alidcastano commented on #46
Thanks for opening this up. All the examples have been updated!

Feel free to touch base via new issue, or twitter, etc if you run into any problems.

[2017-08-21 19:35] #46 closed

[2017-08-21 19:43] alidcastano commented on #47
I just tested this. If I put `console.log` right under that line, `process.env.STATIC` is a boolean and not undefined.

Can you try updating to the latest version?

[2017-08-21 19:59] alidcastano commented on #45
The sitemap example has been added: https://github.com/nuxt-community/nuxtent-module/tree/master/examples/sitemap

[2017-08-21 19:59] #45 closed

[2017-08-21 20:06] josh-- commented on #47
Just tried again with the latest version (0.2.75). Still having the same issue. It generates everything fine, however browser still attempts to hit the wrong URL.

Digging in a little deeper it appears this is because `process.env` is not set at all on the client side. I believe the `process.env.STATIC` would some how need to be made available in the browser for it to work correctly.

[2017-08-21 20:20] alidcastano commented on #47
Ok I just made it a closure. Try `nuxtent@0.2.76`

[2017-08-21 20:34] josh-- commented on #47
unfortunately not quite, still having the same issue.

i think that its because in the browser context it never gets the `process.env.STATIC` variable set at any point.

[2017-08-21 22:02] #47 closed

[2017-08-21 22:03] alidcastano commented on #47
Can you try `nuxtent@0.2.77`. I made it so you could pass `isStatic` via the nuxtent options.

So in your config:

[code]

[2017-08-21 22:17] josh-- commented on #47
good to go now on my end
thanks again!

[2017-08-21 22:19] alidcastano commented on #47
Awesome, when your site is up, feel free to add it to list in README if you like

[2017-08-21 22:25] josh-- commented on #47
sounds good, will do!

[2017-08-24 13:48] wi-cuckoo opened #48 "axios install error"
### the error msg when install axios
[code]

[2017-08-24 13:49] alidcastano commented on #48
Axios is a peer dependency, just run `npm install @nuxtjs/axios --save`

[2017-08-24 13:49] #48 closed

[2017-08-24 13:59] wi-cuckoo commented on #48
has been solved

[2017-08-24 15:56] wi-cuckoo opened #49 "Permalink must be a string"
here is my config in nuxtent.config.js
[code]

then the error occurred, why

[2017-08-24 16:10] alidcastano commented on #49
You must pass either `route.path` or `params.slug` to the content helper methods.

For example:

[code]

[2017-08-24 16:31] wi-cuckoo commented on #49
Yeah, My _slug.vue look like below
[code]

[2017-08-24 17:02] alidcastano commented on #49
That's the problem, `route.slug` is undefined and not a string.

it should be `route.params.slug` or:
[code]

[2017-08-24 17:02] #49 closed

[2017-08-25 04:57] wi-cuckoo commented on #49
actually I logged the route, and changed to route.params.slug, but the result is incorrect.

[2017-08-25 05:04] wi-cuckoo commented on #49
And also I found some example can't work, So I didn't know which config is working. I just want the path looks like /blog/_slug. But whatever I can't success, as the example `multiple-content-types` can't work locally

[2017-08-25 14:10] wi-cuckoo opened #50 "cat it support generate github page file"

[2017-08-25 15:39] wi-cuckoo commented on #50
I tried, but the github return 404

[2017-08-25 15:50] #50 closed

[2017-08-25 16:22] alidcastano commented on #50
Are you having problems with this, or is the issue permanently closed now? If not, please be more clear in your description.

[2017-08-25 16:42] wi-cuckoo commented on #50
I means, the nuxtent's README.md said that it can be build heavy content site like jeklly. I want to know if the nuxtent+nuxt can use in build my github page like jeklly. I doubt that nuxtent can't support like that

[2017-08-25 22:23] alidcastano commented on #50
What do you mean by your github page?

Nuxtent will improve as is required by usage. Right now I'm using it for my sites and it works well enough :)

[2017-08-26 04:20] wi-cuckoo commented on #50
ooooh. Can I use it only in client render? I just want to deploy my-site as static file. Can you understand. And for this, the doc don't wirite.

[2017-08-26 17:46] alidcastano commented on #50
Ok so you want to deploy your site via github pages.

Nuxt docs have information about how to do this: https://nuxtjs.org/faq/github-pages

Only difference is that you run `nuxtent generate`.

[2017-08-26 17:46] alidcastano commented on #50
Please open a new issue if you run into any problems

[2017-08-27 06:31] STnetwork opened #51 "Display the last blogs post in a sidebar or accordion"
Hi,

Is it possible to do something like that : https://learn.getgrav.org/cookbook/twig-recipes#list-the-last-5-recent-blog-posts, with the nuxtent-module ?
If it's possible how ? if I want display the last blogs post only about articles in "/example" folder ?

Thanks !

[2017-08-27 18:02] alidcastano commented on #51
`app.$content('/articles').getAll() ` will return an array that you can do anyting with.

For example:

[code]

If you're not doing a static site, you can alway do: `app.$content('/articles').getOnly(0, 5)`

See: https://nuxtent.now.sh/guide/usage

[2017-08-27 18:02] #51 closed

[2017-08-28 14:51] wi-cuckoo opened #52 "error in run generate"
when run `npm run generate`, It will send axios request to node server which not exist.

[code]
So I need to take a tricky way, by run server on a way, and run generate in another way. Can it be fixed

[2017-08-28 16:56] alidcastano commented on #52
What is `npm run generate` calling? Please post the scripts in your `package.json`.

[2017-08-28 17:02] wi-cuckoo commented on #52
here it is:

[code]

[2017-08-28 18:26] alidcastano commented on #52
It should be  "generate": "HOST=0.0.0.0 PORT=8088 nuxtent generate"

[2017-08-28 18:26] #52 closed

[2017-08-29 01:45] wi-cuckoo commented on #52
If I do that, it can generate file which did by nuxt generate?

[2017-08-29 02:36] alidcastano commented on #52
Yes, does all that `nuxt  generate` does plus runs `serverMiddleware` so that content api works when content is being compiled.

[2017-08-29 06:04] wi-cuckoo commented on #52
Oh， that's would be perfect

[2017-08-29 15:34] wi-cuckoo opened #53 "weird baseUrl when run generate"
# my nuxtent.config.js
[code]
# my package.json scripts

[code]

So When I run `npm run generate`. Why OPEN http://localhost:3000 ?

[code]

[2017-08-29 15:54] STnetwork commented on #53
try it like that :

`"generate": "NODE_ENV='production' nuxtent generate",`

[2017-08-29 16:07] wi-cuckoo commented on #53
@STnetwork Oh, that doesn't matter.  I tried `HOST=wi-cuckoo.io PORT=80 NODE_ENV=production nuxtent generate`
although it can work, but should run as root to listen 80 port. No a good idea. Hope the developer can solve it

[2017-08-29 16:11] STnetwork commented on #53
ok, it's strange because on the nuxtent-template, the behavior is different, there isn't `OPEN  http://localhost:3000`

[2017-08-29 16:55] STnetwork opened #54 "nginx proxy server "/content-api/hello-world" "Access-Control-Allow-Origin""
I have a very strange behavior, I successed to configure my proxy nginx, the main page is ok https://mydomain.
Also when I go to https://mydomain/hello-world, but only directly, when I click on `See Your First Post` for go to https://mydomain/hello-world, I have `500 Network Error`.

![image](https://user-images.githubusercontent.com/26366663/29833346-67955060-8ceb-11e7-9a2d-61784b755d70.png)

In

[2017-08-29 20:18] alidcastano commented on #54
What's your nuxtent configuration look like?

You need to set `api.baseURL` appropriately for production build.

[2017-08-29 20:23] alidcastano commented on #53
What's the problem here exactly?

The `OPEN  http://localhost:3000` part is the `@nuxtjs/axios` module which nuxtent configures so that the content can be easily fetched with the `app.$content` method.

You can change the url by configuring `api.baseURL`".

[2017-08-29 20:50] STnetwork commented on #54
I have this

[code]

[2017-08-29 21:38] alidcastano commented on #54
yes because you set the base url to be your production url for development.

[code]

[2017-08-29 21:38] #54 closed

[2017-08-30 05:39] wi-cuckoo commented on #53
@alidcastano There is a bug in nuxtent when generate static files. In my config above, the *.json file requests in static page will go to http://localhost:3000. Maybe you could try generating static files by yourself and see what happened. If there is extra config to solve this bug, please update the doc. No any message in the [project doc](https://nuxtent.now.sh/guide/configuration).

[2017-08-30 16:07] STnetwork commented on #54
Your solution doesn't work, I remind you that I'am behind a proxy nginx server with a mydomain.com and myipvps:3000 for the npm.

 I no longer have the message about `Access-Control-Allow-Origin` like that :

my `nuxtent.config.js`
[code]

and my `package.json`
[code]

Now the transition since `mydomain.com` to ---> `mydomain.com/hello-world` works well.
But when I want to access directly to `mydo

[2017-08-30 16:22] alidcastano commented on #54
This is likely related to #43.

Add `isStatic: true` to your configuration. Let me know if that works. Otherwise, I'll need more information about the error reported in your browser's console.

[code]

[2017-08-30 16:38] STnetwork commented on #54
with `isStatic: true`, it's worse.

by `mydomain.com`, the main page works, but not the transition between `mydomain.com` to `mydomain.com/hello-world`, even directly to `mydomain.com/hello-world` .

in the devconsole I have this message
[code]

for informtation when I try to access `http://mydomain.com/content-api/` it works, it displays :

[code]

[2017-08-30 16:59] STnetwork commented on #54
Ok i found, it was my proxy cloudflare dns who did that, I disabled the HTTP proxy cloudfare on my domain, and now it works, sorry for the inconvenience !

[2017-08-30 16:59] alidcastano commented on #54
Glad you figured it out. Btw if it's not a static version of side you can disregard `isStatic` comment.

[2017-08-30 17:45] STnetwork commented on #54
yes, just for information you intend in future to do the nuxtent module work in complete static ?

[2017-08-30 17:50] alidcastano commented on #54
The only aspect that doesn't work is markdown components (and some methods such as `geBetween` which were only intended application builds). At sometime when 1.0 is officially released I will fix that.

[2017-08-31 12:43] medfreeman opened #55 "Error when having nuxt `srcDir` option set"
I have a site with nuxt `srcDir` option set to `/src`.
Running `npm run dev` or `yarn dev` yields:
[code]

The culprit is here: https://github.com/nuxt-community/nuxtent-module/blob/5f64b681a7f180822acfe7178b3859364264604b/lib/module.js#L114

I'll send a PR later with support for `srcDir` option .
For now i can make webpack shut up by having a second, empty `content` dir at the root of my app, but

[2017-08-31 14:05] alidcastano commented on #55
Haha.. yeah I've been meaning to get this working (hence the `TODO`) as that is how I wanted my site setup, with a `/content` and a  `/src` directory. A PR would be great.

And yeah, one problem you'll encounter with changing the directory setup is that it causes problems with markdown components. I'm not sure if the latest Nuxt versions make this easier to fix. I haven't had time to look into it.

[2017-08-31 21:06] alidcastano opened #56 "conflicts with NODE_ENV='production' and nuxtent generate"
Nuxtent generate is primarily used for production yet if you add it to command `NODE_ENV='production' nuxtent generate` it causes 404 errors since content is fetched in wrong url during build.

Removing the NODE_ENV fixes the problem, since the client seems to fetch assets via relative path rather than entire url, but I'd be best to resolve this conflict anyway.

[2017-08-31 21:15] alidcastano commented on #53
Hey @wi-cuckoo I coincidently stumbled upon this problem today too #56. I will make a fix for this soon. Thanks for opening up the issue

[2017-08-31 22:18] alidcastano opened #57 "app.$content is not a function in hmr during nuxtent generate"

[2017-09-01 12:38] STnetwork commented on #54
Ok, I hope you will do that quickly because the main reason to use nuxtent for me is to make static markdown components :), so for the moment I create my website with your module without static and then I will do when you'll fix all. Good luck !

[2017-09-01 14:45] wi-cuckoo commented on #53
@alidcastano  Okay. It's not a problem to **OPEN http://localhost:3000**. The problem is if I set don't set NODE_NEV = production. The request of some file in generated static files will be on localhost:3000. Absolutely that's incorrect, it should be the domain of production.

[2017-09-01 18:01] wi-cuckoo commented on #57
Oops, I just encounter the problem. How to solve

[2017-09-01 18:18] alidcastano commented on #57
Temporary fix: close any open windows before you run `nuxtent generate`

[2017-09-02 04:39] wi-cuckoo commented on #57
@alidcastano What any windows means, in broswer?

[2017-09-02 05:15] STnetwork commented on #53
I had the same problem, even if you remove `NODE_NEV = production`, when you want `nuxtent generate`, it uses `http://localhost:3000` the `[AXIOS] Base URL`, so how it would be possible de put a domain instead the localhost:3000 ?

[2017-09-02 05:25] wi-cuckoo commented on #53
@alidcastano There is still many problems. I suggest that you could build a demo with nuxt+nuxtent. and generate static files, then deloy it on github as git page. You'll understand what we encountered. If the road is OK, you can post it to our users to help solving.

[2017-09-02 05:35] wi-cuckoo opened #59 "Invalid attempt to destructure non-iterable instance"
Everything is OK when run dev `nux`.
When I run generate, there is a problem I can't locate it, My nuxtent version is 0.2.77
[code]

----
## additional
If I change the run dev from nuxt to nuxtent. the error is same. And My nuxtent.config.js is:

[code]

[2017-09-02 17:04] alidcastano commented on #57
Yes, any open windows or tabs

[2017-09-02 17:09] alidcastano commented on #59
Remove `query` as that shouldn't be there at all and see if that works. If not, remove `getOnly` and see if that is the problem. Let me know

[2017-09-02 17:23] alidcastano commented on #53
@STnetwork so the site builds, correct? are you experiencing problems when you deploy the site and try to fetch the content? I'll be fixing this either today or tomorrow so please let me know and be as specific as possible with the problem you are experiencing. And thanks again for using Nuxtent and helping get to the bottom of the early problems

[2017-09-03 05:36] wi-cuckoo commented on #53
@alidcastano  Thanks for you reply. May the former problems caused by the lack of document or my incorrect config. Now, I just encounter the problem #56 and #57. And maybe the #57 and #59 is just one problem. I encounter these both is generation.
**The last, I hope the final correct example of how to deploy on GitHub**

[2017-09-03 07:10] wi-cuckoo commented on #59
@alidcastano As you said. I remove the query and getOnly call in asyncDate hook, and everything goes OK. And further, both the query and getOnly will cause such an error. Maybe it's a bug. So I will view the nuxtent code to see why happened. Also I hope it can be fixed ASAP.

[2017-09-03 07:52] alidcastano commented on #59
I added `getOny` and `getBetween` mainly for application builds. For static builds, it might not be fully supported since it requires the generation of all the static assets.

As an alternative, you can do `getAll` and manipulate the data in the client.

Also, you can try adding arguments to `getOnly` e.g. ['getOnly', [0, 4]] to see if that is the problem.

[2017-09-03 08:00] wi-cuckoo commented on #59
@alidcastano  the query method also can't work as expected in generation. I tested it. The query call is very useful to shorten the response data size. So cat it be fixed?

[2017-09-03 12:51] STnetwork commented on #53
Why when you generate without `NODE_ENV='production'`, it used the basic url axios to have access to the `content-api` like you said, and no the localhost:3000 automatically ?

Because when I generate with this nuxent.config :

[code]

It cannot access to my BaseUrl for generate with the api-content

[2017-09-03 16:16] alidcastano commented on #59
I'll have to add this to documentation.

You can pass arguments to each generate method.

[code]

[2017-09-06 08:32] STnetwork commented on #53
@alidcastano
Another thing you should see is when we re-actualize or go to a page static directly on a mardown file, it doesn't display the page it appears `undefined`.

You can see an example here : https://stnetworkbis.surge.sh/hello-world/

[2017-09-06 09:41] STnetwork commented on #53
@alidcastano
Did you find a solution about why it connects to the `BaseUrl` to access to the `content-api` during the generating instead of something we can put in the `package.json` like `"HOST=0.0.0.0 PORT=3000 IS_STATIC=true nuxtent generate"` ?

[2017-09-06 11:14] STnetwork commented on #53
I found a temporary fix in the `module.js` of your module I changed :

`browserBaseURL:a.baseURL+(process.env.STATIC?a.browserPrefix:a.serverPrefix)}])` by
`browserBaseURL:(process.env.STATIC?a.browserPrefix:a.serverPrefix)}])`

[2017-09-09 21:22] lclaytont opened #62 "isPost and dates"
In the documentation it states that isPost defaults to true. However it is unclear how to work with dates with nuxtent.

For example, I am trying to build a blog and sort posts by date. When I use {{ post.date }} in my template, all my posts have the same date. If I statically put date into the metadata of the markdown files I have do some wonkey computed value thing to order my posts. I don't min

[2017-09-10 12:54] STnetwork opened #63 "multiple content types - help need"
Hi,

Is it posssible to add another folder into a folder in the content ? for example I would like something like this :

![2017_09_10_14_45_11_c_users_stnetwork_ atom_atom](https://user-images.githubusercontent.com/26366663/30249182-d6caa4cc-9636-11e7-85ff-4a1c69101242.png)

You can see the that in my repo maybe you will understand better :

[STnetwork.fr](https://github.com/STnetwork/stnetwork.f

[2017-09-10 16:58] medfreeman commented on #15
It seems the corresponding issue vuejs/vue#6519 has been closed 4 days ago.
In the meantime i had this as a workaround component, but probably not useful anymore:
[code]

[2017-09-10 17:18] medfreeman commented on #55
You probably just have to use `join('~/', srcDir)`, since it is aliased in nuxt webpack config.
I have to go for a few hours, but i'll test this when back and submit the PR.

[2017-09-10 18:58] alidcastano commented on #62
{{ post.date }} grabs the date used in your file name, e.g. `2017-08-01-MyPost.vue` would grab `2017-08-01` as the date.

Dated post are sorted by newest-oldest by default.

But yes you can sort them inside vue components. For example:

[code]

[2017-09-10 19:02] alidcastano commented on #63
Hi @STnetwork

You only need one configuration for the top level linux directory (remove `linux/debian` etc.) Then you can organize each of the sub folders inside components via the `page.meta.section` property.

Here's an example of how I did it in the Ency documentation: https://github.com/encyjs/docs/blob/master/components/GuideToolbar.vue

[2017-09-10 19:03] #62 closed

[2017-09-11 06:19] dakebl opened #65 "Cannot render dynamic pages"
This ticket relates to https://github.com/nuxt-community/nuxtent-module/issues/34.
I attempted @alidcastano suggestion from https://github.com/nuxt-community/nuxtent-template/issues/6 and removed the component from the markdown file, as well as the ``.comp`` extension from the file name.

I can now view the application without error but cannot navigate/view the generated post page.
![image](https:

[2017-09-11 10:46] STnetwork commented on #63
Thanks, to be honest, I don't know how to do that exactely.

In my `linux.vue` is it good like that ?

[code]

[2017-09-14 02:23] lclaytont opened #66 "Weird behavior in terminal"
Hello,

I am building a site with nuxt and nuxtent. I'm running site with ngrok so I can test the ecommerce portion of my site locally. However, this behavior also exists when I run app on localhost:3000. Posts fetch adequately, but I get the following message in my terminal and am curious as to how I can fix it and will it cause me problems when I generate the static pages?

[code]

[2017-09-17 23:25] suhogrozdje commented on #53
I am also experiencing the same issue, BarryPH's hacky solution did the trick, but it indeed is hacky.

To make the issue clear in a few words: when running `nuxtent generate`, axios baseURL is set (by default) to `http://localhost:3000/`, which is good, but the problem emerges when one loads generated content in the browser: there, axios baseURL is still set to `http://localhost:3000` instead of

[2017-09-17 23:44] suhogrozdje commented on #53
For me, it works (as predicted) if I put this into nuxtent.config.js:
[code]

[2017-09-18 09:46] medfreeman commented on #66
Isn't this a duplicate / related to #57 ?

[2017-09-18 15:44] STnetwork commented on #53
@suhogrozdje

Thanks for this solution it works well for me, I felt alone with this problem !

[2017-09-18 15:52] STnetwork commented on #63
@alidcastano

could you help me please ?

[2017-09-18 15:55] pnSauces2017 opened #68 "Mixed Content"
I am trying to deploy my nuxt project via github pages. All works well except that when I go to the blog portion of my site, which I am using nuxtent for, I get a mixed content error. At the moment I am not using a custom domain and gh pages defaults to SSL, which is great. But my blog posts a 500 error saying that I am making a http request to content-api. This content has already been generated

[2017-09-18 17:30] pnSauces2017 commented on #68
Here is the specific error I get in the console when I try to navigate to the blog page:

```xhr.js:178 Mixed Content: The page at 'https://pnsauces2017.github.io/' was loaded over HTTPS, but requested an insecure XMLHttpRequest endpoint 'http://localhost:3000/_nuxt/content/_all.json'. This request has been blocked; the content must be served over HTTPS.```

[2017-09-18 18:07] medfreeman opened #69 "Allow `.yml` content files"
Atm this module only reads `.md` and `.yaml` files and does not support `.yml files`.
https://github.com/nuxt-community/nuxtent-module/blob/da574f5ceab9a8e8fad81389a977ff385045889e/lib/content/page.js#L108
https://github.com/nuxt-community/nuxtent-module/blob/da574f5ceab9a8e8fad81389a977ff385045889e/lib/content/page.js#L138

[2017-09-18 19:31] victorkane opened #70 "Error with starter `npm run dev`"
On a Mac (Yosemite)

[code]

Followed Quick start instructions:

[code]

Following successful install, upon running `npm run dev`, following error in up-to-date standard chrome browser content area:

[code]

Suggestions, anyone?

[2017-09-18 19:39] victorkane commented on #70
Same error on standard Ubuntu server

[2017-09-18 23:02] pnSauces2017 commented on #68
Solution from #53 fixes it. If you generate your files for a static site make sure your api.baseURL is set to an empty string.

[2017-09-19 12:32] victorkane commented on #70
This is NOT connected to #53 and occurs with `npm run dev` as well as build and start.

[2017-09-19 12:50] suhogrozdje commented on #53
It works with Github Pages for me. But there are other problems I am experiencing, such as when i navigate directly to a post (i.e. refreshing when on it) and then navigating away from it, the content doesn't change. When I try then to refresh, it works again, but when I try to go back, it emits an error:

[code]

This plugin seems to be a bit laggy. I think those of us who feel up to the task sho

[2017-09-19 14:15] turnavies commented on #70
@victorkane I resolved this by adding @nuxtjs/axios^2.1.0 as a dependency

[2017-09-19 16:02] victorkane commented on #70
@turnavies Works like a charm, thanks.

[2017-09-20 07:41] turnavies opened #71 "NuxtServerError after upgrading to latest Nuxt rc"
On a Mac — Sierra 10.12.6 (16G29)
[code]

Following quickstart instructions:
[code]

and subsequently upgrading to latest Nuxt (1.0.0-rc11)
[code]

After succesful install, running `npm run dev`,
navigating through http://localhost:3000 to http://localhost:3000/hello-world works, but doesn't show any of the Markdown content in HelloWorld.comp.md.

On refresh of http://localhost:3000/hello-world, I

[2017-09-20 10:14] turnavies commented on #71
Seems broken from `nuxt@1.0.0-rc3`

[2017-09-20 12:39] darisi commented on #71
same problem here with rc11, couldn't figure it out yet.

[2017-09-22 19:26] #55 closed

[2017-09-23 02:33] medfreeman opened #72 "Restore / Create end-to-end tests"
Hi, i've started to standardize this module to help develop it in the future, and guarantee its stability.
Starting by restoring e2e tests.
I hope you'll find this useful.

[2017-09-23 02:36] medfreeman commented on #72
`npm run e2e`

[2017-09-23 02:42] medfreeman commented on #72
The next contributions are [here](https://github.com/medfreeman/nuxtent-module/compare/tests...medfreeman:standard-js?expand=1).

[2017-09-23 18:30] alidcastano commented on #72
I've unfortunately haven't had enough time to work on Nuxtent so that's great news. I'll review these changes by today. Thanks for contributing.

I've been trying to find time to resolve some of these issues, so let me know what changes you're working on so that we don't repeat the work.

[2017-09-23 18:56] #72 closed

[2017-09-23 19:13] #53 closed

[2017-09-23 19:13] alidcastano commented on #53
So sorry for being unresponsive! Thanks for finding a solution @suhogrozdje. PR merged!

[2017-09-23 19:32] alidcastano commented on #63
@STnetwork Sorry for the delay. What is your question exactly?

From your code, you also need to store the organized pages via computed properties so that you can use them in the template:

[code]

[2017-09-23 19:32] #63 closed

[2017-09-23 19:34] alidcastano commented on #68
Ok, thanks for the update. I just merged @suhogrozdje's fix and an empty string for baseURL will be the default in the next version of Nuxtent.

[2017-09-23 19:34] #68 closed

[2017-09-23 19:45] #59 closed

[2017-09-23 19:48] alidcastano commented on #71
Yes, this is related to #34; the error is in regards to markdown components. Going to look into this now

[2017-09-23 19:49] #71 closed

[2017-09-23 19:51] alidcastano opened #74 "nuxtent maintainers / contributors"
I believe Nuxtent provides a great solution for devs who want to use Nuxt (and not another framework / static site generator) to build content heavy sites. So I'd love to see this project become more stable, but don't have as much time as I'd like to make it happen on my own.

@medfreeman  @suhogrozdje  Would you two like to become Nuxtent maintainers/contributors? (You've both provided useful PRs

[2017-09-23 19:56] medfreeman commented on #74
@alidcastano sure, i share your point of view, and i'd be happy to !

[2017-09-23 20:05] suhogrozdje commented on #74
Yes, I'd also be happy to, and I do have some free time here and now. Keep in mind that the pull request I made (a very small one, though) was my first one, so I am not very active on Github yet.

[2017-09-23 20:16] alidcastano commented on #74
Great, invites sent. It'll give you read/write access to repo. :)

@medfreeman Thanks for setting up e2e tests btw. I foolishly created Nuxtent without tests thinking its codebase wouldn't get too complicated...haha. But it's important to set those up so that Nuxtent can more easily accept improvements/PRs

@suhogrozdje Yeah, I saw (congrats on your first PR!), but I read your comments on the issu

[2017-09-23 20:18] alidcastano commented on #74
Btw, do you guys have sites running on Nuxtent? Or are they in progress? Would love to add them to README.

[2017-09-23 20:20] medfreeman commented on #74
They are in progress ! I'm planning to make a nuxt template based on nuxt + nuxtent + netlify-cms + custom components, with a medium post to showcase it.

[2017-09-23 20:27] alidcastano commented on #70
@turnavies Thanks for helping to resolve this!

[2017-09-23 20:27] #70 closed

[2017-09-23 20:28] medfreeman opened #75 "Standardization"
Here's a huge list of things that i fixed / improved the last few days.
Subsequent PR's will be smaller, as it is always better for clarity and purpose.

see the attached PR for the list of changes

[2017-09-23 20:37] alidcastano commented on #74
@medfreeman @suhogrozdje I created a slack channel so that we can communicate easier if you guys need to ask me anything.  Here's the [invite link](https://join.slack.com/t/nuxtent/shared_invite/enQtMjQ1MzI4MzgxNzI5LTcwOTlkYTczNTMzMGU1YjYyYjlkNzNjNDc3MjQ3YTdmMjc0ZThkZjM1ZWY4ZjhiZjc1MDIwYjJmMjAxODlhMzU).

Nuxtent is a small project so it shouldn't be much work but it'd be awesome to gradually impro

[2017-09-23 20:37] #74 closed

[2017-09-23 21:04] #75 closed

[2017-09-23 21:42] alidcastano commented on #34
fixed with @medfreeman latest PR ( https://github.com/nuxt-community/nuxtent-module/pull/76)

[2017-09-23 21:42] #34 closed

[2017-09-23 21:43] #56 closed

[2017-09-23 21:47] alidcastano commented on #66
Hi @lclaytont What version of Nuxtent are you using? I've added guards to prevent this behavior. The problem is that when you start a nuxt/nuxtent site and have previous tabs open, the content will be fetched for those tabs as well due to hot module reloading.

Regardless, this won't cause any problems during site generation. The problem is only during `npm run dev` due to hot module reloading as

[2017-09-23 21:47] #66 closed

[2017-09-23 21:55] #57 closed

[2017-09-23 21:56] #15 closed

[2017-09-24 02:44] alidcastano commented on #65
Can you try updating to latest Nuxtent version and let me know if that fixes your error. Thanks (and sorry for the delay in responding to this)!

[2017-09-24 06:49] STnetwork opened #77 "FATAL ERROR: CALL_AND_RETRY_LAST Allocation failed - JavaScript heap out of memory"
If you clone my repo : https://github.com/STnetwork/stnetwork.fr

and try `yarn generate`, you will see this error :

[code]

[2017-09-24 13:39] alterhu2020 opened #78 "dependency not found ~\content in ./.nuxt/plugins.markdownComponents.96959a12.js"
Hi Team,
 I use this module for my person blog, and  I check to use the example located here:
[multiple-content-types](https://github.com/nuxt-community/nuxtent-module/tree/master/examples/multiple-content-types)

After installing dependency using command `npm install` ,and Run the command `npm run dev` ,It shows below exception message:
[code]
![image](https://user-images.githubusercontent.com/50

[2017-09-24 14:10] alterhu2020 commented on #78
@medfreeman , It seems that totally `nuxtent` not worked now , It's too bad now.

[2017-09-24 14:48] alidcastano opened #79 "page.path property used outdated API"

[2017-09-24 14:55] #79 closed

[2017-09-24 14:57] alidcastano commented on #63
hi @STnetwork just realized the `path` property was using outdated API and was not working properly. This might have caused problems if you were using ency repo as an example. But now has been updated and will be released in next version.

[2017-09-24 16:18] alidcastano commented on #78
I just updated the [ency documentation](https://github.com/encyjs/docs) to using latest version of nuxt and nuxtent.

Can you try removing your node_modules and installing again. Thanks

[2017-09-24 16:19] alidcastano commented on #77
When did this start occurring? e.g. Did this start happening after you added a certain amount of content pages?

Please provide more information so that we can isolate the problem! Thanks

[2017-09-24 16:20] alidcastano commented on #69
Sure, feel free to add this

[2017-09-24 16:26] medfreeman commented on #78
@alterhu2020 please provide your os flavor / version and npm version, it helps reproducing the issues.

I guess you're on windows. i got the same error.
Fixing this in a moment.
Will also add windows and linux ci builds probably today, to be able to release safely in the future.

[2017-09-24 16:29] alidcastano commented on #78
Yeah, I'm on mac and did not get that error, so that makes sense

[2017-09-24 17:39] medfreeman commented on #78
@alidcastano you can release the fix.
Or if you want to give me publish rights on npm, that also works, whatever you prefer.

[2017-09-24 17:47] medfreeman commented on #77
@STnetwork I reproduced the issue, but it seems it probably comes from nuxt, [check this out](https://toyflish.com/Nuxt_Javascript_heap_out_of_memory).

[2017-09-24 18:19] alidcastano commented on #78
@alterhu2020 Thanks for opening this issue. We will be releasing the fix soon in the next release.

Also, once you have your site running in nuxtent, feel free to add it to readme!

[2017-09-24 18:19] #78 closed

[2017-09-25 03:55] alterhu2020 commented on #78
This change don't make any sense ,it still met the same exception after upgrade `nuxtent` to `nuxtent@0.2.80`  .

1. The OS version and platform is:  Windows 7 Enterprise SP1 64 bit system.
2. The npm version is:  V5.4.2
3. The nodejs version is:  V8.5.0

You can easily to reproduce this issue , just download the example project ,location: https://github.com/nuxt-community/nuxtent-module/tree/mast

[2017-09-25 03:56] alterhu2020 commented on #78
@alidcastano, @medfreeman , Please help to reopen this issue again.

[2017-09-25 04:17] alterhu2020 commented on #78
also when i downgrade to `nuxtent@0.2.77` I  found that the `axios` request met the CROS issue, like below from console:
[code]
I think `nuxt` had added the  'Access-Control-Allow-Origin':* header , why it happened for `axios` in `nuxtent`.

I can use `@nuxtjs/axios` without this CROS issue totally  when use it separately.

[2017-09-25 10:55] STnetwork commented on #77
Thanks, you should try to generate static the [`examples/multiple-content-types/`](https://github.com/nuxt-community/nuxtent-module/tree/master/examples/multiple-content-types)

there is an issue with the page `projects.vue` :

[code]

when I delete this part of the code in the page `projects.vue`  It works, otherwise I have the error that I mentioned above :
[code]

It also works when I put nothi

[2017-09-25 11:23] medfreeman commented on #77
@STnetwork thanks, but i don't get an error at all.
Could you give me your OS / node.js versions ?

[2017-09-25 12:02] STnetwork commented on #77
`CentOS Linux release 7.4.1708`
[code]

Even if you put `baseURL` like that in `nuxtent.config.js` you don't have any error ?

[code]

[2017-09-25 12:28] alidcastano commented on #77
@STnetwork Can you be more explicit about the error you are getting? The line of the code you mentioned is just iterating through an array of project pages; nothing to do with Nuxtent.

[2017-09-25 12:41] STnetwork commented on #77
@alidcastano Sorry I don't know how to be more explicit :/

Maybe you could try to clone my [repo ](https://github.com/STnetwork/stnetwork.fr) to understand better.

@medfreeman , I tried on OSX Sierra operating system with node 8.5.0 I have the same error.

[2017-09-25 13:02] medfreeman commented on #77
@STnetwork not a problem.
I'm extending tests right now to cover all possible use-cases, and will add a test-case corresponding to your error when i have understood it properly.

[2017-09-25 14:00] STnetwork commented on #77
@medfreeman You said right, It's probably related to nuxtjs :

https://github.com/nuxt/nuxt.js/issues/1695
https://github.com/nuxt/nuxt.js/issues/1601
https://github.com/nuxt/nuxt.js/issues/1678

There isn't solution for the moment, it will be probably resolved at the next NuxtJS update.

[2017-09-25 17:50] alidcastano commented on #77
Ok given that, I'll go ahead and close this issue. Thanks for resolving this together

[2017-09-25 17:50] #77 closed

[2017-09-26 02:53] medfreeman commented on #78
The issue was closed in v1.0.0

[2017-09-26 08:31] alterhu2020 opened #83 "example multiple-content-types not work with 404 error"
##  Environment
OS Version: Windows 7 Enterprise SP1
NodeJS: 8.5.0
NPM: 5.4.2
Nuxt: latest
Nuxtent-module: latest (1.0.0)

Hi team,
It's too sad that I had to say that the example in you official repository still not work for you current latest release version.

## Steps to reproduce
1. Download the example code:  [https://github.com/nuxt-community/nuxtent-module/tree/master/examples/multiple-cont

[2017-09-26 08:33] alterhu2020 commented on #83
Hi team,
 I found the Vue warning had lasted for a long time, but you all had not noticed this .

[2017-09-26 10:27] medfreeman commented on #83
Thanks for reporting this!
It is again a specific windows error.

@alidcastano can you add the project to [Appveyor](https://www.appveyor.com/) so we can have tested windows builds ?
Thanks

[2017-09-26 10:57] STnetwork commented on #83
@medfreeman I had the same error on CentOS, I don't think it's specific to WIndows.

[2017-09-26 12:10] medfreeman commented on #83
@STnetwork thanks, i mixed up different testing sessions, and i encountered the same one while running the example.
I wonder what specific difference produces these warnings.

[2017-09-26 18:19] cesasol opened #85 "feature request: slots in markdown components"
It's awesome that components are back, but sometimes props are not enough so, it is posible to have slots? Like:
[code]

The `^` is inspired from the [footnote](http://cheatsheet.aboutmde.org/#footnote) from markdown extended, and the closing bracket from wordpress shortcodes

<div align="right"><sub><em>This feature request is available on <a href="https://nuxtjs.cmty.io">Nuxt.js</a> community (<

[2017-09-27 02:01] magick93 opened #86 "newbie questions"
Hello

I've been reviewing static site generators with the aim of finding something for generating documentation.

**Nuxtjs** and **nuxtend-module** look really interesting!

I have a few questions I hope you can help with.

**Navigation**

I am completely new to VueJs - so please forgive me if this is a stupidly simple question. I understand that, to add new pages (or content) I simply put a new

[2017-09-27 07:37] alterhu2020 commented on #83
@medfreeman , any update for this critical issue , It totally not worked for nuxtent project.

[2017-09-27 12:10] medfreeman commented on #83
@alterhu2020 the warnings have now disappeared with the latest commit, they were related to an old `@nuxtjs/axios` version. I have now updated the module from ^2.2.1 to ^4.3.0 in all examples.

Concerning your error, can you try with the updated examples ?

If it doesn't resolve your problem,
can you tell me if your 'See all my posts' link points to "http://localhost:3000/content-api/posts/?" ?
Wh

[2017-09-27 13:30] alidcastano commented on #86
Navigation: Every page has a `path` property. So you can automate the navigation by fetching all pages and creating links with their path. Also, you have access to page `anchors` (headings inside page), so you can use those for within-page navigation if the content page is long. (For a reference, here's the [content navigation example](https://github.com/nuxt-community/nuxtent-module/blob/master/e

[2017-09-27 13:48] alidcastano commented on #85
What's your use case for this? I can see why this would be required in the markdown, I just don't see it being used too often to justify the added complexity.

Thanks for proposing a syntax.

Ideally, I would like to keep it consistent. So all components start with `@[componentName]`.

Maybe a syntax similar to handlebars could work:

[code]

Where `@[]` marks a component and `#` slot opening and

[2017-09-27 13:53] alidcastano commented on #65
@dakebl

With @medfreeman's work, the most recent version have fixed previous errors and markdown components now even work with static sites (template just needs to be updated!). So I'll go ahead and close this issue, but feel free to open it back up if you experience same error.

Thanks for using Nuxtent!

[2017-09-27 13:53] #65 closed

[2017-09-27 13:55] STnetwork commented on #83
@medfreeman for me it's resolved.
You should see the process generate, is it normal to have `(Browser: /content-api)` during the generate process whereas before it was `(Browser: /_nuxt/content)`

![image](https://user-images.githubusercontent.com/26366663/30917370-21788936-a39c-11e7-9a89-47e86cdbbeae.png)

At the end he doesn't generate all files in the multiple-content example.

[2017-09-27 15:31] alterhu2020 commented on #83
Hi @medfreeman , yes when use the latest `@nuxtjs/axios` ,the $delete warning had not showed again ,bbut the 404 page is still showing for this example.
The reproduce steps just as this issue's description.
see the error screenshot for this.
![image](https://user-images.githubusercontent.com/5029046/30922530-ff9c85f2-a3db-11e7-8fa8-f37b02c7b399.png)

[2017-09-27 15:39] STnetwork commented on #83
@alterhu2020 @medfreeman
It's probably specific to your env or windows, because I don't have this message on CentOS at all.

[2017-09-27 15:41] alidcastano commented on #83
Why are you visiting `content-api/posts/?`

What does `content-api/posts` show?

[2017-09-27 16:02] alidcastano opened #88 "browser url incorrectly points to content-api"
related to comment in #83

[2017-09-27 16:09] alidcastano opened #89 "nuxt generate only causes 404"
@medfreeman I'm still getting 404 when I run nuxt generate (instead of nuxtent generate with previous binaries)

JSON files are generated but it seems like pages are not compiled appropriately. For example with multiple content type example I get:

[code]
If I serve the site, the client navigation works fine but refreshing page displays `not found` error.

Also related to #88, if we stick to not h

[2017-09-27 16:12] alidcastano commented on #88
The problem is that binaries were removed, so you have to set `STATIC=true` in command so that url can be set appropritely.

Then it works:

[code]

Right now there's a problem without using binaries (see #89). I'll wait until resolving that before figuring out how to let users specify that they are using a static site.

Note: Ideally, if baseURL is empty we should just make static the default, si

[2017-09-27 16:16] alidcastano commented on #83
@STnetwork Thanks for looking into this. It works for me as well so this most be an env specific issue. But I did experience two other issues #88 #89 so we will work to fix them.

Thanks for being patient as we work out the kinks, and a special shoutout to @medfreeman for the great PRS.

[2017-09-27 16:20] alidcastano commented on #89
I feel like your solution (https://github.com/nuxt-community/nuxtent-module/blob/master/lib/module.js#L131) should be equivalent to using binaries, as the only special thing I was doing was starting the Nuxt server so that server middleware could be active when pages were being generated.

[2017-09-27 17:24] STnetwork commented on #89
If it can help you I have a small different error when a set an `apiBaseUrl`

![image](https://user-images.githubusercontent.com/26366663/30927549-11fb6e02-a3b9-11e7-87ef-70744c7eaacb.png)

my

[code]

my

{
  "name": "example",
  "version": "1.0.0",
  "description": "nuxtent multiple content types example",
  "author": "Alid Castano <alidcastano@gmail.com>",
  "dependencies": {
    "@nuxtjs/axios

[2017-09-28 00:21] magick93 commented on #86
Thanks @alidcastano

The navigation example you gave is like a Table of Contents? This will be very useful.
But what I am stuck on is how to present a list of all documents. I realize I can just type the path in the browser. But users who want to view the site will not know what documents are available.

I appreciate this is probably very basic, however I - and the users who will be adding docs -

[2017-09-28 00:35] alidcastano commented on #86
A list of all documents works in a similar way - just iterate through the fetched content pages:
[code]

`articles` will be an array of content pages that you can iterate through and render as you please.

---

Can you define what you mean by export? As far as I'm aware, `front-matter` works to specify/override page data and Nuxtent supports this. Are you asking to allow different types of front-m

[2017-09-28 00:35] #86 closed

[2017-09-28 11:04] yoanmarchal commented on #34
which version of Nuxt do you got ?
I got this error on the first start

[2017-09-28 12:25] alidcastano commented on #34
tested with rc11

[2017-09-28 17:22] cesasol commented on #85
In my use case is for profiles  and testimonials elements, where some markdown would be useful. Also I believe that with this addon on nuxt we can build websites with almost all the content in the md files.
Another approach and is the one that I took is to have that content that would be on the slot called with ajax on the mounted component. But is not really a concise way since the `$content` met

[2017-09-28 18:10] alidcastano commented on #85
Yes, I could see how slots would be useful. I'll keep the issue open so it could be added once we stabilize current features.

Proposed syntax:

[code]

[2017-09-28 18:27] josh-- commented on #88
just dropping this by because i think its related to this and issue #83.

previously i opened a ticket that was throwing the same type of errors.

https://github.com/nuxt-community/nuxtent-module/issues/47

you had added a new param that when used in the main configuration. would allow the generated site to work correctly. The reason was because the environmental variable is not available, in the

[2017-09-28 18:43] alidcastano commented on #88
Yes `isStatic` in config and `process.env.STATIC` will both have to be fixed, thanks for bringing this up

[2017-09-28 18:44] josh-- commented on #88
no prob, i was just taking a quick peek. Something like this should do it (https://www.npmjs.com/package/envify). idk if thats the best fit or not but something along those lines might help.

[2017-09-29 01:46] #83 closed

[2017-09-29 01:48] #89 closed

[2017-09-29 01:48] #88 closed

[2017-09-29 02:39] alidcastano opened #90 "update documentation"
Off the top of my head:
- Add` isStatic` option to configuration section
- Add `baseURL` explanation for dynamic and static sites ( can leave baseURl empty on static build)
- Add brief explanation for how to deploy site via nuxt commands
- Improve automatic navigation section
- Add markdown component slots when it is released (see #85)

@medfreeman am I missing any changes that we should document?

[2017-09-29 02:46] medfreeman commented on #90
@alidcastano i'll answer tomorrow, too tired sorry.
- `isStatic` doesn't exist anymore, `generate` is automatically detected

[2017-09-29 02:56] medfreeman opened #91 "Run the test through all the examples"
Avoid that an example breaks.

[2017-09-29 08:04] STnetwork commented on #89
@alidcastano @medfreeman

Sorry but I updated nuxtent with the version 1.0.2 and I always have exactly the same error that I posted in my screen above.

[2017-09-29 08:21] STnetwork opened #92 "TypeError: Cannot read property 'name' of undefined - multiple content example"
Hi,

I updated the module with the 1.0.2 version, I have this message when I generate with the multiple-content example:

[code]

my `nuxtent.config.js : `

[code]

my `package.json`

[code]

[2017-09-29 10:42] STnetwork opened #93 "OPEN http://localhost:3000 locally during the generate process"
Before with the latest versions we needed to open locally the content-api `OPEN http://localhost:3000` for the generate process, is it normal that now there isn't it at all during the generate process ?

[2017-09-29 10:57] alidcastano commented on #93
@medfreeman has been working on getting rid of `nuxtent generte` so that we don't have to support our own binaries and the codebase could be simpler.

Thank you for reporting this issue (and #92). They are in fact due to that change and we will work to get it resolved by next release. Thank you again for your patience and help

[2017-09-29 11:05] STnetwork commented on #93
Ok good news so !

When the module will be completely operating it will be very interesting ;)

[2017-09-29 11:05] alidcastano commented on #93
Almost there :)

[2017-09-29 11:19] medfreeman commented on #93
Thanks ! Is this an actual error, or is it just missing the `OPEN http://localhost:3000` log message ?
I thought of it while doing the fixes yesterday, but had not so much time in front of me.

[2017-09-29 11:21] STnetwork commented on #93
@medfreeman I think because of this, all pages aren't generated, only root pages are generated, but no error messages.

[2017-09-29 12:58] medfreeman commented on #93
@stnetwork that's because in 'generate' mode, the server is generated directly through express in nuxtent code, instead of nuxt connect instance, and i don't display a message as nuxt does.
I'll add the same 'OPEN' log message for consistency.
#92 is another problem that i tracked down a moment ago. I'll release the fix when back on computer in an hour or two.

[2017-09-29 13:04] alidcastano commented on #93
I don't think the message is necessary. It caused confusion before (opening localhost versus deployment url) and Nuxtent abstracts that away so user doesn't have to be aware that server is running to generate all content files.

[2017-09-29 13:08] yoanmarchal commented on #34
ok i try with

1. mac os X 10.11.6

- node 8.5.0
- npm 5.4.2
i can run
`vue init nuxt-community/nuxtent-template my-site`
no probs here

2. Windows 10
- node 8.6.0
- npm 5.3.0
i still got  error on compilation

at getSection (D:\projects\nuxt\my-site\node_modules\nuxtent\dist\loader.js:19:33)
at Object.module.exports (D:\projects\nuxt\my-site\node_modules\nuxtent\dist\loader.js:114:19)

[2017-09-29 13:14] alidcastano commented on #34
Ok so the error is specific to windows, can you open up a new issue with the details? Thanks

[2017-09-29 13:19] yoanmarchal opened #94 "Compilation fail on windows"
I try nuxtent on windows, it fail ,so i lookup with mac os

1. mac os X 10.11.6
- node 8.5.0
- npm 5.4.2
i can run
`vue init nuxt-community/nuxtent-template my-site`
no probs here

2. Windows 10
- node 8.6.0
- npm 5.3.0
i still got  error on compilation

at getSection (D:\projects\nuxt\my-site\node_modules\nuxtent\dist\loader.js:19:33)
at Object.module.exports (D:\projects\nuxt\my-site\node_module

[2017-09-29 13:20] yoanmarchal commented on #34
done #94, sorry for my bad english

[2017-09-29 13:38] STnetwork commented on #93
@medfreeman  Ok apparently it's right I missed something in my nuxtent.config, it generates all pages !

I don't know what do you use for an environment test static but, maybe you should use [surge](https://surge.sh/) for that , it's free, easy and fast to deploy a static site.

you just need to do :
`[root@stnetwork]$  cd dist/
`
`[root@stnetwork dist]$  surge`

For the moment I have this result

[2017-09-29 14:28] medfreeman commented on #94
thanks for your report! i am aware of this issue, and plan to avoid this in the future by having automated windows builds with [AppVeyor](https://www.appveyor.com/).
We're waiting for proper access atm.
When the others important issues are fixed, i'll switch to my windows instance to resolve this.

[2017-09-29 14:34] medfreeman commented on #93
@STnetwork the tests only cover the local part of `generate` part by launching a local express instance at the moment, and verifying the returned pages content, which is sufficient for this kind of testing.
And a distant test can also be mocked, which is probably better, covering the fact that there's a user `baseUrl` option specified, then mocking the distant server to avoid complicating the test

[2017-09-29 16:50] medfreeman commented on #92
Sorry about this, meant to push to a feature branch first.
The issue is resolved, but involves to do things differently, for the better.

[2017-09-29 16:51] medfreeman commented on #92
This time i'll add additional tests and refactoring before making a release.

[2017-09-29 21:43] programmerby opened #95 "request: remove API logging messages in production"
I still see nuxtent messages after `nuxt build` and `nuxt start`:
[code]
Why?

[2017-09-29 21:56] programmerby opened #96 "security bug: API exposes an absolute file path"
`meta/filePath` contains an absolute file path from filesystem:
![nuxtent real path json](https://user-images.githubusercontent.com/193258/31037452-942bf18c-a579-11e7-8ba1-d17d756bed99.png)

 It's probably a security bug.

[2017-10-01 22:39] medfreeman commented on #95
1. After `nuxt build`, it is normal, after all your content is served from localhost and need to be read from somewhere to be integrated in the build.
After `nuxt start`, the reason is it that in its current state nuxtent only fetches generated files (from `/_nuxt/content/` folder) in `static` mode (`nuxt generate`).
That behavior could be discussed and possibly changed to fetch static files in `p

[2017-10-01 22:43] medfreeman commented on #93
@alidcastano so you'd go for removing the `OPEN` message in every case ?
I'll also have to look if it possible or not.

[2017-10-02 18:47] AlokJoshi commented on #83
@medfreeman I am fairly new to this but I get hundreds of warnings:
[Vue warn]: Method "$delete" conflicts with an existing Vue instance method. Avo
id defining component methods that start with _ or $.
Can you please let me know what may be causing this.?
I am using Windows 7 and I installed the latest nuxt by changing the package.json entry to :"latest" and running npm install. (I think it insta

[2017-10-04 16:22] CHH opened #98 "Date format of posts and pages is different"
The format of a content type with `isPost: true` follows ISO8601. The date that was determined by the file's ctime, when the content type is not a post, doesn't follow the same format, but dd-mm-YYYY instead.

Relevant line:

https://github.com/nuxt-community/nuxtent-module/blob/56e04d7886dbc8fe39c5fb8c0e48a415b5f960d0/lib/content/page.js#L168

Is this by design, or a bug?

[2017-10-04 16:50] alidcastano commented on #98
Yea that's an oversight, they should follow the same format - YYYY-MM-DD

[2017-10-05 10:33] bovas85 commented on #14
Vue 2.5 is released, have you got any update on this @alidcastano ?

[2017-10-05 12:35] #98 closed

[2017-10-05 12:39] alidcastano commented on #14
I haven't had a chance and tbh totally forgot about this. Right now markdown components work, but they are imported normally. Feel free to open up a new issue if you'd like this feature so that we can track it better.

[2017-10-07 20:35] alidcastano opened #101 "resize space between paragraphs in editor"
Will need to change inline toolbar positioning functioning if I change this as well

[2017-10-12 12:38] alidcastano commented on #101
Hahaha just realized this is the wrong repo, closing this

[2017-10-12 12:38] #101 closed

[2017-10-17 05:45] STnetwork commented on #92
@medfreeman

You think you will soon release the correction of this issue ?

[2017-10-17 06:27] medfreeman commented on #92
@stnetwork

Oh, sure, i'll just discuss with @alidcastano about the api change, and release it today if ok.

[2017-10-17 10:15] STnetwork commented on #92
@medfreeman  good news !

[2017-10-21 21:58] Towerism opened #103 "Generated router uses back slashes for permalink"
I am on windows.

My generated route looks like this:
[code]
My config looks like this:
[code]
This is what I get from hitting the content-api endpoint:
[code]
If I manually edit the router and change the backslashes to forward slashes which is what they should be in the first place, then it works.

I tried this with the starter template as well and after removing the component in the markdown fil

[2017-10-22 01:47] dahrens opened #104 "Links in generated website lead to "Network Error""
I have problems to get my nuxtent based generated website to work properly. And I'm also not sure whether it is related to nuxtent or nuxtjs itself, but as I currently guess that nuxtent does some magic regarding the generation of files and links I decided to post it here at first.

Using `yarn run dev` everything works as expected. I can open the landing page and also navigate to linked writings

[2017-10-22 02:17] alidcastano commented on #104
You shouldn't need to include any content routes inside `generate.routes` as nuxtent handles this for you. Removing that part might solve your problem.

Otherwise, let me know if there's any other information printed regarding the error. Also, @medfreeman will be releasing some fixes hopefully tomorrow, in case your problem relates to any previous issues. :)

[2017-10-22 10:46] dahrens commented on #104
Thanks for your quick reply!

Adding generate to the config was an attempt to fix the problem. The error persists without it.

I removed it again and inspected the network tab when hitting the button and found out, that it first loads a js source - in my current build called `http://localhost:3344/_nuxt/pages/_writings.b813cba1a8d2af1e9032.js` (which was already loaded before) and afterwards execu

[2017-10-22 13:12] dahrens commented on #104
After playing with plain nuxtjs and diggin through your sources, I guess that [this is the place](https://github.com/nuxt-community/nuxtent-module/blob/master/lib/plugins/requestContent.js#L44), which your reserved to circumvent the content API in production builds? I'm curious regarding the fixes from @medfreeman !

Please let me know if contributions on that are welcome and whether I'm on the ri

[2017-10-22 15:44] alidcastano commented on #104
Thank you for your interest, contributions are always welcome!

By production builds, are you referring to static builds? Nuxtent supports both static and dynamic sites, but the line of code that you linked pertains to the content generation for static sites, which is why it is an empty return for the server. Here's the file where static content/assets are built: https://github.com/nuxt-community/

[2017-10-22 15:52] alidcastano commented on #104
Also, Nuxtent only loads file via server api at `content-api` endpoint or via browserf files at `_nuxt/content`. So the call that pertains to Nuxtent is `http://localhost:3000/_nuxt/content/writings/2017.nuxtent.json`.

Is this for a dynamic or static site?

Why are both ports - 3344 and 3000 - there? Based on your configuration, you want port 3000, which is where Nuxtent is loading the files for.

[2017-10-22 16:01] dahrens commented on #104
The site we're talking about is dynamic.

I currently try test the static site generated by nuxtent using a local python webserver, thats the reason for the different port.

[code]

I would like the result of `yarn run generate` to be able to run on whatever port I'd like to.

But depending on my configuration and the things I thought I've understand about `baseURL` I was expecting `http://part-of

[2017-10-22 16:31] dahrens commented on #104
Thanks for the hint on the sources.

Do I get it right that the following code causes the hrx that queries the JSON file?

[code]

And that this call is executed by (in my case) **_writings.vue**, which is responsible to receive the content somehow? I was expecting this to be done on generate, so that the HTML file already includes the rendered template.

[2017-10-22 16:43] alidcastano commented on #104
Ah okay. So from what I see, you're running the site on `3344` but you're not setting the environment variable to production, so you're pages are being fetched at `localhost:3344` by nuxt (the server you initiated) and at `3000` (the server you configured) by nuxtent. Makes sense?

The reason you need to configure the port properly is because Nuxt uses axios to fetch the content via serverMiddlewa

[2017-10-22 17:03] dahrens commented on #104
I'm to spoiled by the vue webpack template I guess :) Thanks for your assistance.

Do you think it is worth to figure out how to get rid of the baseURL setting. I'd love to have a generated static site that is not bound to any specific webserver configuration - this is at least what I'd expect from a static site generator.

[2017-10-22 17:03] #104 closed

[2017-10-22 17:38] alidcastano commented on #104
I believe  (per issue #53 / and PR #67) you can leave the `baseURL` empty and files will be fetched locally for static builds. Sorry for not specifying that early, documentation on that def needs to be updated

[2017-10-22 17:39] alidcastano commented on #104
Try that and if it doesn't work feel free to open up a new issue

[2017-10-22 17:41] #69 closed

[2017-10-22 17:42] dahrens commented on #103
Looks like this one breaks in that case. It uses (`path.join`)[https://nodejs.org/api/path.html#path_path_join_paths] to manipulate the route.

[2017-10-22 17:44] #96 closed

[2017-10-22 17:51] dahrens commented on #104
Thanks a bunch! This was exactly what I was looking for and it works like a charm! :) No problem that the docs were not that clean. At least the feature is implemented and it was a good opportunity to get in touch with the sources.

[2017-10-22 17:53] alidcastano commented on #104
Awesome! Once your site is running on Nuxtent, free to edit the README and add it to the list of sites 🥇

[2017-10-22 18:12] alidcastano commented on #92
Sorry for the delay @STnetwork. I just spoke with @medfreeman and he will be releasing changes tonight

[2017-10-22 18:17] alidcastano opened #107 "setup automatic testing for PRs"
We're getting more PRs now. I've had to manually test them but I'd be great to have this done automatically.

@medfreeman You're the pro at this :) I believe you've already made some progress on this but I'm creating the issue so that we can keep track of it.

[2017-10-22 20:20] #103 closed

[2017-10-22 21:55] #92 closed

[2017-10-22 22:04] #107 closed

[2017-10-22 22:17] alidcastano commented on #104
@dahrens Thanks for the latest PRs. If you're interested in contributing further you can join our slack channel to discuss ideas / ask questions

https://join.slack.com/t/nuxtent/shared_invite/enQtMjQ1MzI4MzgxNzI5LTcwOTlkYTczNTMzMGU1YjYyYjlkNzNjNDc3MjQ3YTdmMjc0ZThkZjM1ZWY4ZjhiZjc1MDIwYjJmMjAxODlhMzU

[2017-10-22 22:49] medfreeman commented on #92
@STnetwork the fix has just been released in v1.1.0
Please take a look at [the changelog](https://github.com/nuxt-community/nuxtent-module/blob/master/CHANGELOG.md) to understand the new way to achieve this.
The dics will soon be updated with the relevant information.

[2017-10-23 00:52] Towerism opened #109 "Generated Route is Correct, but Path generated for Content is Wrong"
I know you guys fixed #103, but it seems the path generated for content is plagued by the same issue. I get this when querying content-api:
[code]
Notice the paths and permalink here have double backslashes instead of just a single forward slash.

[2017-10-23 06:40] medfreeman commented on #109
@Towerism i'll have a look tonight, just know that things will become better when i'll have access to automated windows builds, preventing further regressions.
I have literally no occasion to directly test nuxtent on windows.

[2017-10-23 12:29] alidcastano commented on #109
@medfreeman Atinux says access has been granted!

[2017-10-23 22:11] medfreeman opened #110 "Make docs build and deploy automatically"

[2017-10-24 00:40] vinaypuppal opened #111 "anchors array is always empty"
- I am trying out this [content-navigation](https://github.com/nuxt-community/nuxtent-module/tree/master/examples/content-navigation) example.
- And from this [comment](https://github.com/nuxt-community/nuxtent-module/issues/86#issuecomment-332521008) by @alidcastano

- When I access content-api, I see empty anchors array

[2017-10-24 01:58] alidcastano commented on #111
Yes, that should be working. I use the automatic navigation feature it for the nuxtent and ency documentation sites, but perhaps a recent refactor that we did interfered with the behavior. We'll have to add tests for this and fix it, thanks for opening issue

[2017-10-24 02:00] alidcastano commented on #109
Btw, likely related to #94

[2017-10-24 03:48] #94 closed

[2017-10-24 03:48] #111 closed

[2017-10-24 03:50] alidcastano commented on #94
Luckily I got a Windows computer recently so I was able to fix the bumps and get Nuxtent running :) Should be working by next release 👍

[2017-10-24 03:52] alidcastano commented on #109
I fixed the `path`, `permalink`, and `relativePath` properties by replacing then backslash with regex. Should be working by next release!

[2017-10-24 03:52] #109 closed

[2017-10-24 03:56] alidcastano commented on #93
Closing due to inaction, please feel free to open up a new issue if the `OPEN` message still bothers you. And PRs are also always welcome!

[2017-10-24 03:56] #93 closed

[2017-10-24 03:57] alidcastano commented on #91
Agreed. Also, page properties should ideally at least have basic unit tests

[2017-10-24 04:01] alidcastano commented on #95
Logging should have the option of being optionally turned on/off as  not everyone wants to have it on in production

[2017-10-24 19:49] dahrens commented on #95
Just digged through the current configuration in `module.js` - looks like it makes sense to wait, until the refactored code from https://github.com/nuxt-community/nuxtent-module/pull/108 is done and got merged.

[2017-10-24 21:32] alidcastano commented on #95
Sounds good 👍

[2017-11-01 13:46] raae opened #113 "Multiple content types"
I must have misunderstood something as I cannot get two content types to work together.

I am trying to create both projects and posts with permalinks `:slug` using the configuration below. I would like the projects to use the page `projects/_slug` and the posts `posts\_slug`. However both use `posts\_slug` giving me a 404 on /project1 as `project1` does not exist in the posts collection.

Full ex

[2017-11-01 14:21] medfreeman commented on #113
Hi, you should use '/projects/:slug' as projects permalink, and '/posts/:slug' as posts permalink to achieve the behavior you want.
The docs aren't completely up-to-date, including about this topic.

Basically i changed the behavior a few weeks ago, so you could eventually get '/name-of-post' posts url along with '/projects/name-of-project' projects urls for example, thus removing the automatic pr

[2017-11-01 14:31] alidcastano commented on #113
That's what I figured was the problem -- since they both have same permalink, the one that is registered first overrides the other. @raae Nuxtent overrides page paths so even though you nested the pages you should, it's the permalink that ends up defining the route's behavior... Try putting `posts/:slug` and `projects/:slug` as the permalink, and let us know if that works!

--
Side discussion:
@me

[2017-11-01 15:21] raae commented on #113
So my use case is that I would like to organize the content in different folders and also have them accessible as separate collections through getAll(). But I want both to resolve to `<baseUrl>/:slug` permalink.

But that might not be possible?

[2017-11-01 15:54] alidcastano commented on #113
Yes this should be possible with the current implementation. Does putting the permalinks as `posts/:slug` and `projects/:slug` not work?

[2017-11-01 16:05] raae commented on #113
Yes, it works. But the permalink is then <baseUrl>/posts/post1 and <baseUrl>/projects/project1. And the path values feel a little weird.

<img width="716" alt="nuxtent_starter" src="https://user-images.githubusercontent.com/478531/32284182-af21b60e-bf26-11e7-8586-720dc4d7827d.png">

My config is now:
[code]

[2017-11-01 16:09] dahrens commented on #113
I encountered the same issue - I solved it by omitting the nesting in the pages directory.

[code]

Note that in pages I directly use `_projects` instead of using a subfolder.

[2017-11-01 16:55] raae commented on #113
If you could point me in the right direction (ie. relevant code) I could give it a try.

[2017-11-01 17:05] alidcastano commented on #113
Yeah sorry I'm just to busy to look into this week, but I come here to quickly answer questions :)

If you want to give it a go, the relevant code is at : https://github.com/nuxt-community/nuxtent-module/blob/master/lib/content/build.js#32

If you have questions feel free to also join our dev [slack channel](https://join.slack.com/t/nuxtent/shared_invite/enQtMjQ1MzI4MzgxNzI5LTcwOTlkYTczNTMzMGU1YjY

[2017-11-06 09:45] umiyo opened #115 "TypeError: Cannot read property 'attributes' of undefined"
[code]

It worked all well yesterday, but gave me the error now. I have no idea about it.

Following is my code:
[code]

[2017-11-06 21:16] zcabjro opened #116 "TypeError: Cannot read property 'Symbol(Symbol.iterator)' of null"
Simply follow the getting started instructions. Steps to reproduce
[code]

[code]

[2017-11-06 21:23] zcabjro commented on #116
Duplicate #94

[2017-11-06 21:23] #116 closed

[2017-11-08 20:45] dahrens commented on #115
May you please provide one of your content files and also relevant code in the template?

[2017-11-15 21:26] snorpey opened #117 "Error 500 when using getAll() in index.vue"
Hi there,

thank you for creating Nuxtent. It is really great and I use it in one of my projects.

Recently, I keep running into this bug where I get a `Request failed with status code 500 ` error when trying to list items on the index page.

I used `vue init nuxt-community/nuxtent-template` to create my site. I removed most of the default styling and added the following script to `pages/index.vue

[2017-11-17 03:24] XiangyuJamesZhang opened #118 "Nuxt generated project has wrong axios call"
Hi guys,

I am using nuxtent to generate static site, here is my issue:

with such nuxtent config:
[code]
and content folder:
[code]
`nuxt generate`will create something like
[code]
however, after I host the dist folder and want to check **post1**, axios will ask resource from `https://domainname/_nuxt/content/project/node/project.node.post1.json`
and cause an error since the right path should be

[2017-11-18 00:08] liquidvisual opened #120 "Links with trailing slash don't work"
First of all, great library! Thanks for making this.

I've noticed when navigating to pages generated with markdown, they become invalid with a trailing slash. Pages don't exhibit this behaviour though.

eg:

[code]

although:

[code]

<div align="right"><sub><em>This feature request is available on <a href="https://nuxtjs.cmty.io">Nuxt.js</a> community (<a href="https://nuxtjs.cmty.io/nuxt-commun

[2017-11-18 14:33] alidcastano commented on #120
Ye the content path must not be getting matched if it includes a trailing slash

[2017-11-18 14:38] alidcastano commented on #118
Is a folder named `project.node`? If so then yea it uses regex to match routes so we'd need to improve the command but this is a pretty unusual case, not sure if it is even recommended to use periods in file names

[2017-11-18 14:41] alidcastano commented on #115
There's a space between $content and getAll(), that could possibly be the problem. If not ^^

[2017-11-18 14:46] dahrens commented on #115
It is not a problem - I tried that in a node shell already ;)

[2017-11-18 14:52] alidcastano commented on #115
@umiyo Please also providing your OS

[2017-11-18 14:56] alidcastano commented on #117
Hi @snorpey, thanks for using Nuxtent!

@Dennis Ahrens Are you on mac? Would you mind looking into this https://github.com/nuxt-community/nuxtent-module/issues/117? I switched platforms and still haven't had a chance to update module or my sites with latest versions haha

[2017-11-18 15:00] XiangyuJamesZhang commented on #118
Yeah. I don't think it is an unusual case. It seems like if the permalink contains path

then the generated nuxtent content folder in dist will contain periods in file names.
I dislike those periods either but I have no choice. As I said, maybe it's better to leave permalink out of path info, and inject both path and permalink in the code above

Anyway, thank you so much to create this tool, the n

[2017-11-18 15:28] alidcastano commented on #118
I'm sorry I'm not fully understanding - is an error only occurring when you generate the content? If so then yes it deals with the build file.

The problem likely lies here:
https://github.com/nuxt-community/nuxtent-module/blob/8f7afaa87706b27b30b927371eadd88b2a2b6ec2/lib/content/build.js#L5-L12

Feel free to do a PR and if you have questions you can ask them in the [slack channel](https://join.sl

[2017-11-19 02:02] XiangyuJamesZhang commented on #118
cool, I will give it a try

[2017-11-19 03:22] liquidvisual commented on #120
Is there any way to fix this?

[2017-11-19 20:27] dahrens commented on #117
Apple? Hell no! But I'm on unix, so I'm able to have look without a hassle.

The problem is this line

[code]

I did a short search but did not find any resources that point out the proper reason.

My guess is, that you just can't use the `async` keyword when you let the interpreter pick the object name from the incoming values.

Using `key: value` together with an arrow function works as expected

[2017-11-19 21:21] snorpey commented on #117
hey @dahrens thank you for taking a look!

I followed your suggestion and updated the line you mentioned; However, the problem seems to persist and I'm still getting a 500 error. I was also able to reproduce the error on my Linux machine (which is running [Solus](https://solus-project.com/))

I updated the `index.vue` trying to get more meaningful errors, an this is what I got:

<details>
<summary

[2017-11-19 21:30] dahrens commented on #117
Does your *index.vue* template still refers to a variable called `page`?

[2017-11-19 21:37] snorpey commented on #117
No, it does not.

The complete `index.vue` file:

[code]

[2017-11-19 21:38] dahrens commented on #117
In the middle of the template: `{{ post.title }}` The error message in your browser should be descriptive.

[2017-11-19 21:49] snorpey commented on #117
@dahrens thank you for getting back to me so quickly!

Yes, I'm getting an error page, that says

__NuxtServerError__ _Request failed with status code 500_

NuxtServerError
Request failed with status code 500

<img width="979" alt="screen shot 2017-11-19 at 22 43 16" src="https://user-images.githubusercontent.com/166433/32995891-720638ea-cd7b-11e7-970c-edb8228268dd.png">

When clicking on one of t

[2017-11-19 21:54] dahrens commented on #117
Ok, it is not descriptive :)

Your template still refers to an unknown variable. Wrap it like this:

[code]

Try to restart the development server in case the error persists.

[2017-11-19 22:12] snorpey commented on #117
thanks! i updated the code and my `index.vue` now looks like this:

[code]

I restarted the dev server and i'm getting the same 500 error.

If I comment out the `asyncData` part from the script, the error no longer shows up (but neither do any post titles):

[code]

[2017-11-19 22:37] dahrens commented on #117
Meh - I already deleted the code after it was running - will set it up again now.

[2017-11-19 22:54] dahrens commented on #117
hehe - funny - the issue is related to your mac. I deleted this ugly `.DS_Store` files located everywhere in your file tree - at least the on in the content folder. This file causes the issue.

I'm not sure whether you have control about those files and whether it is good practice to have them everywhere, but I guess this should be considered a bug, as there are many people out there that use macO

[2017-11-20 10:07] snorpey commented on #117
@dahrens Recursively removing the `.DS_Store` files fixed it for me. Thank you so much for taking the time to look into this issue!

[.DS_Store](https://en.wikipedia.org/wiki/.DS_Store) files are created automatically by the Finder app, the default file browser on macOS. Unfortunately, there's very little users can do to prevent those files from being created, other than not opening the folder in

[2017-11-21 15:05] bin4ryio opened #122 "Typo in example"
Good day, I found there is a typo in nuxtent-module/examples/content-navigation/pages/guide.vue

Find **exlcude** below:
[code]

Cheers.

[2017-11-23 15:54] menteora opened #123 "Sitemap integration & localhost instance"
Hi, I have a problem with the sitemap module integration.
- I looked at your example: https://github.com/nuxt-community/nuxtent-module/tree/master/examples/sitemap

- Here is my configuration:
[code]
## First Case
- If I run `npm run generate` `http://localhost:3000/content-api` is not available and the sitemap.xml is not generated

[code]
## Second Case
- If I run `npm run dev` that opens `http:/

[2017-11-23 15:56] alidcastano commented on #123
@hochchristoph did you find a solution for this?

[2017-11-28 11:23] umiyo commented on #115
@alidcastano  I have no idea to repeat it. Now it's all well.

[2017-11-28 11:25] #115 closed

[2017-11-30 10:49] dzabrzenski commented on #120
You can remove trailing slash from router path in your asyncData function.

For example

https://github.com/nuxt-community/nuxtent-module/blob/master/examples/multiple-content-types/pages/projects/_slug/index.vue#L12

Here you

[2017-11-30 10:50] dzabrzenski commented on #120
You can remove trailing slash from path passing to your asyncData function.

For example

https://github.com/nuxt-community/nuxtent-module/blob/master/examples/multiple-content-types/pages/projects/_slug/index.vue#L12

replace this line with:

`await app.$content('/projects').get(route.path.replace(/\/$/, '').toLowerCase())`

[2017-12-03 15:59] AWulkan opened #124 "Cannot read property 'Symbol(Symbol.iterator)' of path.match"
I installed the starter template and ran `npm run dev` to get this error below.

[code]

[code]
Js
getSection@19:33

Windows 10
Node 8.9.1
Latest Nuxtent version

[2017-12-04 20:37] sebtiz13 commented on #124
Duplicate #94
You do compile module from branch master

[2017-12-04 21:45] AWulkan commented on #124
@sebtiz13so I can't install it through npm? I'm not sure I understand.

Any estimation on when the fix will be released in the next version?

[2017-12-08 13:01] sebtiz13 commented on #124
@AWulkan Exactly the version released on npm doesn't work on windows.
You do to wait a new release on npm or compile manually the package from branch master.
The bug is solved but i don't know why the new version is not released.

[2017-12-08 22:57] AWulkan commented on #124
@sebtiz13 Ok, thanks. I will just use another generator for now then. Maybe I'll come back to this once it's released.

[2017-12-09 17:15] AWulkan commented on #124
Why was this reopened if fit's already solved?

[2017-12-09 22:17] alidcastano commented on #124
Sorry, I've been incredibly busy but I know that people use this plugin for their blogs and do intend to publish the working windows version at some point (just need to make sure it doesn't break anything etc.). I reopened it as a reminder.

[2017-12-11 02:04] dperrera opened #125 "Previous / Next links?"
Hey there! Nuxtent is looking great. I'd love it if there were an easy way to access the previous/next posts from an individual post. Is that possible?

[2017-12-15 18:14] mgrandl opened #127 "nuxt.config.js generate.routes with callback instead of an array not supported?"
`"generate.routes" must be an array`

Please add support for callback function routes. I got it to work by changing those lines

https://github.com/nuxt-community/nuxtent-module/blob/8f7afaa87706b27b30b927371eadd88b2a2b6ec2/lib/content/build.js#L61-L65

to support functions by doing
`nuxtOpts.generate.routes().then(routes => routes.concat(routeData))`

but I can't get the module to build for whate

[2017-12-21 02:11] derevandal opened #128 "error on build"
I'm using Nuxtent from Github and Windows 10 to build.

Command I used:

`yarn build`

Error:

[code]

[2017-12-25 00:32] #118 closed

[2017-12-25 00:50] #124 closed

[2017-12-25 00:50] #128 closed

[2017-12-25 00:51] alidcastano commented on #128
Please try again with latest release (^1.2.0)

[2017-12-25 00:58] #90 closed

[2017-12-25 01:26] alidcastano commented on #122
Fixed. Thanks!

[2017-12-25 01:26] #122 closed

[2017-12-25 01:26] #91 closed

[2017-12-25 01:26] #95 closed

[2017-12-25 01:31] alidcastano commented on #125
Hi, you can `getAll` the pages, find the correct one you're looking for and keep it's index saved so that you can go to the ones before / after it if they exit.

[2017-12-25 01:31] #125 closed

[2017-12-28 00:56] sandrosc opened #129 "multiple-content-types example doesn't work"
I tried to run several examples locally, some didn't work as soon as you click a link.
The following is the output of the `multiple-content-types` example.
[code]
I am on Windows 10, Node 9.3.

[2017-12-30 01:34] qwIvan opened #130 "Can not do cache or prefetch on asyncData?"
<div align="right"><sub><em>This question is available on <a href="https://nuxtjs.cmty.io">Nuxt.js</a> community (<a href="https://nuxtjs.cmty.io/nuxt-community/nuxtent-module/issues/c105">#c105</a>)</em></sub></div>

[2017-12-30 23:42] derevandal commented on #128
Fixed. Thanks 😄

[2018-01-02 02:45] misscs opened #131 "Working with arrays in yaml files"
First time working with vue and nuxt. I'm bit baffled as to how to iterate through an array in a yaml file.

As an example, yaml file would contain a list:

[code]

In my template, I'm getting the content

[code]

This is the return when I look into the `/content-api`

[code]

I would expect to be able to iterate through it with either `v-for="talk in talks.items"` or `v-for="talk in talks" or `v-

[2018-01-02 09:02] dahrens commented on #131
As you can see you have an array with objects (per file) - what you might do is:

[code]

Some recommendations and explanaitions:

I assume you have an folder called `speakings` in your `content` folder.

nuxtent expects files in this folder. Each file represents one speaking.

When you use nuxtents content API `app.$content('speaking').getAll()` it parses whole the directory and returns a list of

[2018-01-05 16:31] evanrlong opened #132 "Load markdown files from CDN or external source"
I'm trying to load markdown files hosted on a CDN into a nuxt webapp using nuxtent.  My desired workflow would be...

1. Designers create or modify markdown files and push to CDN (or external file server)
2. Web app reads in markdown files from CDN and renders results using nuxtent

The goal is to allow designers to modify the content of a web app and have their changes reflected without an app re

[2018-01-05 16:43] alidcastano commented on #132
Nuxtent was primarily created for local markdown files so I haven't looked into this - but If I remember correctly Nuxt.js site fetches external markdown files so I would look into how they did it.

Also, just noticed part of the docs that you linked to is a little outdated, will need to update

[2018-01-05 16:46] alidcastano commented on #131
@misscs Did @dahrens answer your question?

I'll close the issue but feel free to reopen it if not

[2018-01-05 16:46] #131 closed

[2018-01-05 16:47] alidcastano commented on #130
Can you show me an example of what you're trying to accomplish?

[2018-01-05 16:57] evanrlong commented on #132
Awesome I'll take a look at the Nuxt.js site and see how they handle it.  At first glance, it looks like they are pre-rendering their markdown files into a similar json format to nuxtent (but only supporting pure html, no Vue components) and hosting that on their CDN.  See [here](https://docs.api.nuxtjs.org/releases).  Then they are loading the json files into the app with axios and rendering the

[2018-01-05 16:59] alidcastano commented on #132
yes you'll need to fetch it yourself and convert the markdown files to HTML or JSON so that you can use it inside components (I look at their site as an example while building Nuxtent)

Best of luck, I'll go ahead and close this issue but feel free to reopen it if something comes up

[2018-01-05 16:59] #132 closed

[2018-01-05 17:11] qwIvan commented on #130
The browser needs to send a HTTP request when it navigates backward or forward, even if the page has been visited.
I think it should have direct access to the cache.

[2018-01-06 00:06] misscs commented on #117
I've worked with many frameworks and this is the first that totally breaks due to `.DS_Store` files. I'm so happy to find this post because I did not to refactor everything to GatsbyJS. However, I do feel that this issue warrants investigation. Perhaps getAll() should ignore any files that start with `.`.

[2018-01-06 01:33] misscs commented on #131
Thank you @dahrens! I ended up moving everything into its own yaml file. Thank you for taking the time to explain and provide examples.

[2018-01-09 07:55] derevandal commented on #129
@alidcastano i tried build your site and i got this error:

in plugins.markdownComponents.4f97e594.js:

[code]

the error stops when I change to:
[code]

btw, content-api returns
[code]

I think that we could add some replaces, but i don't know where.

[2018-01-09 08:39] derevandal commented on #129
@sandrosc use Windows Subsystem for Linux to build your application now. ;)

[2018-01-09 10:35] sandrosc commented on #129
@derevandal afaik the dependencies of his site are out of date, not sure if it's helpful for this bug.

[2018-01-09 10:36] sandrosc commented on #129
@derevandal thx for the tip!

[2018-01-09 11:48] derevandal commented on #129
@sandrosc I got these error in my personal closed project too and here it works even with this dependency problem.

[2018-01-09 13:07] alidcastano commented on #129
@derevandal @sandrosc  Thanks for helping to narrow it down for me, ill try to find the time to update module for windows build and then do a quick update to this plugin as well

[2018-01-09 18:02] derevandal commented on #129
@alidcastano ok, if u need help and tell me what and where I should do, I can make a PR.

[2018-01-10 09:39] cesasol commented on #117
instead of a blacklist it should be a whitelist with regex, like `/\s*\.(?:md|yaml|yml)$/g`

[2018-01-10 21:34] dunepebbler opened #133 "'Cannot read property 'get' of undefined' on fresh install"
Hi,

I just started a Nuxtent project.
When I click the 'See your first post' button, I get the following error:

`'Cannot read property 'get' of undefined'`

[code]

[code]

[2018-01-10 22:07] cesasol commented on #133
With nuxt 1.0 this plugins now requires to have the axios module insde the nuxt.conf.js

[2018-01-11 18:24] cesasol opened #134 "Upgrading to nuxt 1.0"
1.0 bring many changes and it breaks the generate method with this plugin. I try to look for documentation from nuxt to upgrade this package since almost all of the sites on my team uses it, but I could not find any.

[2018-01-11 23:26] alidcastano commented on #134
https://github.com/nuxt-community/nuxtent-module/pull/135

[2018-01-19 03:18] andrade1379 opened #137 "ERROR nuxt.plugin('build',..) is not supported. Use new hooks system. - Fresh Install"
I just did a fresh install of the Nuxtent template:

`vue init nuxt-community/nuxtent-template my-site`
`yarn run install`

My package.json file looks like:

[code]

When running `yarn run dev` I get an error that reads:
[code]
and my nuxt.config.js file looks like:
[code]
I'm assuming this has something to do with the `@nuxtjs/axios` module perhaps?

[2018-01-19 03:32] alidcastano commented on #137
Plugin still needs to be upgraded to v1 of nuxt

[2018-01-19 16:35] andrade1379 commented on #137
@alidcastano thank you for your quick response 👍

[2018-01-21 06:08] coderdiaz commented on #137
Same problem

[2018-01-21 09:32] magick93 commented on #137
Same problem.

For the newbies in the audience, how do we solve this?

[2018-01-23 13:43] clementfox commented on #137
yeap i would like to know the answer too  +1

[2018-02-15 12:57] PZ01 opened #140 "Cannot GET /"
Hi, I installed and ran the basic _nuxent-template_, but once the server is running I encounter the following page:

I looked at the console and I get the following error:

I can run Nuxt.js without any issues, but the moment I add Nuxtent as a module to the project this behavior shows up. I have a feeling it's blocking the client-side loading of files, but I don't know how to enable that, or if t

[2018-02-18 14:48] crabdul commented on #137
I'm still getting this error with
`
{
  "name": "elkhazaani",
  "version": "1.0.0",
  "description": "Personal site",
  "author": "Author",
  "dependencies": {
    "@nuxtjs/google-analytics": "1.0.0",
    "@nuxtjs/pwa": "^2.0.5",
    "@nuxtjs/sitemap": "0.0.3",
    "nuxt": "^1.0.0-rc11",
    "nuxtent": "^1.0.1",
    "@nuxtjs/axios": "^4.3.0"
  },
  "scripts": {
    "dev": "nuxt",
    "build": "NOD

[2018-02-20 06:21] Towerism opened #141 "content endpoint renders content-endpoints incorrectly"
This occurs on windows. Querying content-api reveals an endpoint of the form '\\endpoint'. Trying to access this endpoint results in a 404. I cannot reproduce this error on my linux machine, only on my windows machine.

<div align="right"><sub><em>This question is available on <a href="https://nuxtjs.cmty.io">Nuxt.js</a> community (<a href="https://nuxtjs.cmty.io/nuxt-community/nuxtent-module/issu

[2018-02-20 10:30] john-cheesman commented on #137
I've just tried a fresh install, which gave me `nuxt@1.3.0` and I'm still getting the error.

[2018-02-28 00:10] Daniil-Sokolov commented on #137
@magick93 Thank you dude, really helped

[2018-02-28 21:48] danhawkes opened #142 "Breaking changes in 1.2, not mentioned in changelog"
Hi,
I've just spent a couple of hours trying to figure out why my code highlighting has stopped working, and  eventually found that `1.2.x` includes a breaking change (2945d4313850be5d1e894d912efc8859948c2ef6) in the `nuxtent.config.js`.

The changelog seems to be out of date - the most recent entry is for `1.1.0`, and it looks like the npm release task hasn't been used for the past few releases b

[2018-03-02 15:42] alidcastano commented on #142
Hi @danhawkes I'm so sorry about that. @medfreeman helped standardized the module but I unknowingly made that last few releases following the wrong procedure

I added the documentation for the releases under Github's releases (https://github.com/nuxt-community/nuxtent-module/releases)

I'll take a look at how nuxt.js does it and follow that

Thanks for bringing this up

[2018-03-04 11:59] danhawkes commented on #142
@alidcastano I see them, that's great! Thank you and @medfreeman for all your work on this project.

[2018-03-04 11:59] #142 closed

[2018-03-04 18:25] qm3ster opened #144 "Consider streaming content html"
## [`document.write()` AND `iframe`? We have to add this!](https://jakearchibald.com/2016/fun-hacks-faster-content/#using-iframes-and-documentwrite-to-improve-performance)

<div align="right"><sub><em>This question is available on <a href="https://nuxtjs.cmty.io">Nuxt.js</a> community (<a href="https://nuxtjs.cmty.io/nuxt-community/nuxtent-module/issues/c113">#c113</a>)</em></sub></div>

[2018-03-18 18:59] teamgroove commented on #123
It looks like you had your dev-environment running, when you started the: npm run generate.
"Error: listen EADDRINUSE :::3000" is supicious.
Just terminate your local dev-server before generating with nuxtent.

[2018-03-18 21:55] joostdecock commented on #137
Do you have plans to upgrade this plugin to the hooks system?

I'm looking to replace a Jekyll site with this, but only if it's maintained.

I'd help if I knew how to

[2018-03-19 08:31] menteora commented on #123
Hi @teamgroove, thank you for your attention.
Yes, this is the second case (I clarify my issue putting titles).
The first case is without dev server running.

Sitemap require dev server running, `npm run generate` require dev server not running, that's generate conflict.

[2018-03-21 21:03] Ellomend opened #145 "rewrite documentation"
first of all
superb project. im actually loving it. great work.

but documentation is little odd. it makes learning curve too steep.
maybe its me but i had to read configuration page multiple times and everytime was confused.
i had to resort to examples and had hard time to do initial configuration.
build, page load crashed unexpectedly with uninformative errors.

for example:

what ? directory ?

[2018-03-22 22:10] derevandal commented on #145
@Ellomend hey bro, thanks for commenting here!
we all know that documentation is poor, but we are concentrate on fix "nuxtent" to "nuxt v1.0.0".
after this release, we'll focus on the documentation, okay?

[2018-03-23 02:43] enummela opened #148 "Grammar in README.md"
Proposed fix: #147.

[2018-03-23 03:21] alidcastano commented on #145
hi @Ellomend

fresh eyes are best for improving docs. if you got it working, maybe you can help explain it in a way that would be simpler 👍

[2018-03-23 03:49] joostdecock commented on #134
New effort to get this done in https://github.com/nuxt-community/nuxtent-module/pull/146

[2018-03-23 04:01] enummela commented on #148
My apologies for using the wrong name for Nuxtent. Here's an updated fix: #149.

[2018-03-23 04:31] joostdecock opened #150 "Issues when using a folder structure for markdown files"
I am porting a Jekyll site to nuxtent and I am running into some issues.

I have three content sections:

 - Blog posts
 - Showcases (like blog posts, but different type of content)
 - Pages (regular non-post content)

My config for this is as such:

[code]

Posts and showcases work as expected, because it's just a bunch of `.md` files in a single directory.

But things are different for pages, wh

[2018-03-23 04:54] joostdecock commented on #150
I've made some progress on this. After reading the [path-to-regexp documentation](https://github.com/pillarjs/path-to-regexp#parameters) (which is used by [vue-router](https://router.vuejs.org/en/essentials/dynamic-matching.html) to match dynamic routes), I learned that you can use a parameter modifier to make a parameter optional.

So I've updated me config like this:

[code]

And I've updated me

[2018-03-23 05:28] joostdecock commented on #150
My solution above only partially fixes the issue. Specifically, using  `:section?/:slug` as the permalink pattern will only work for pages one directory deep.

That's because `?` is the *0 or 1* modifier. What we need is the *0 or more* modifier so that vue-router will match when we have a page like `docs/some/deep/link/with/many/slashes`.

Using `:section*/:slug` as permalink pattern will take ca

[2018-03-23 14:51] #148 closed

[2018-03-23 15:14] alidcastano commented on #134
This should work now with nuxtent@1.4 (or nuxtent@latest)!

Thanks for PRs @joostdecock and @cesasol

[2018-03-23 15:14] #134 closed

[2018-03-23 15:15] alidcastano commented on #137
nuxtent@1.4 should be compatible with nuxt 1.0 now

[2018-03-23 15:15] #137 closed

[2018-03-23 15:16] #133 closed

[2018-03-23 15:17] #140 closed

[2018-03-23 16:10] teamgroove commented on #123
First Case: domain mismatch
http://localhost:3000/content-api
vs:
127.0.0.1

In your config, you need to harmonize these values. Choose one.

[2018-03-23 16:26] alidcastano commented on #123
Thanks @teamgroove for help, going to close this

[2018-03-23 16:26] #123 closed

[2018-03-23 23:11] dimitrieh opened #152 "Directly going to permalink fails? Generate command fails as well"
Hi! Just tried to implement the new Nuxt version into my application. Got everything set up pretty nicely and it does seem to work to some extent, however...

Working from macOS 10.13.3

Problems:
- When running `dev`, I can navigate towards the post through the `nuxt-link` elements. However when directly using the permalink.. I get a `Error: read ECONNRESET`
- When running `generate`, it fails at

[2018-03-23 23:34] dimitrieh commented on #152
Just tested this out with the template project from my previous comment. And this generates the exact same problems if I change the `package.json` dependencies to:

[code]

So a good test case to solve these errors :)

cc: @alidcastano @apmontgomery @joostdecock (this might interest you, as you were involved with https://github.com/nuxt-community/nuxtent-module/pull/151 )

[2018-03-24 01:05] joostdecock commented on #152
Did you configure the `browserBaseURL` ?

An example config could be something like:

[code]

[2018-03-24 01:49] alidcastano commented on #152
What's the difference between baseUrl and browserBaseUrl? Not sure when/why this changed

[2018-03-24 01:57] joostdecock commented on #152
From my (limited) understanding, `baseURL` is used during build time, or when running in Dev.

`browserBaseURL` is used after the build is completed.

So, when you run `nuxt generate` it will use baseURL` during the build to contact the nuxtent content-api.

But the code in dist will use `browserBaseURL` to contact the content-api.

I figured this out because when I ran generate, my statically bui

[2018-03-24 02:24] apmontgomery commented on #152
this issue is with @nuxt/axios 5.x
downgrade to @nuxt/axios 4.5.2 and you'll be fine.  Looks like we need to upgrade some of the code in nuxtent to handle breaking changes from @nuxt/axios 4 -5
https://axios.nuxtjs.org/migration.html

[2018-03-24 02:45] apmontgomery commented on #152
and looks like @joostdecock is also correct.  if you set nuxtent's browserBaseURL in nuxtent.config then it will work with the latest nuxt/axios

[code]

[2018-03-24 10:54] dimitrieh commented on #152
Thanks for all the help here! Seems to work out fine! 😄

Is there a way to configure this for both online (base url can change) and offline environments?  (I think I need the older axios for that now correct?)

[2018-03-24 11:07] dimitrieh commented on #152
Slightly off topic, but is it possible to have the

Aggregate the slug items for nav purposes in a reusable component? It seems I have problems with the following:

[code]

[2018-03-24 11:51] joostdecock commented on #152
For online, you need to configure the `browserBaseURL` as mentioned above.

You can contact the content-api in your `asyncData`. Something like:
[code]

This will populate a `posts` car that you can iterate over.

[2018-03-26 10:37] dimitrieh commented on #152
Going to document my found solution here as well for others to find.

Nuxt does its magic for async data functions only inside of the pages directory. When having a component inside of the components directory, you need to define the async data function inside of all of the pages that component is going to be rendered in.. inside the component you can define a prop in the meanwhile

[2018-03-26 11:15] dimitrieh commented on #150
@joostdecock would love to play around with this myself as well. Do you perhaps have an example or existing repository where you (can) show this off?

[2018-03-26 11:26] dimitrieh commented on #152
for doc purposes:

browser url can also be set with env variable for production purposes:

https://nuxtjs.org/api/configuration-env/

[code]

[2018-03-26 11:34] joostdecock commented on #150
The **dev** branch has my latest work. I have 3 content types for nuxtent, and I want different languages.

I'm currently having dinner, but if you have questions/suggestions I'll look in to them later.

Or go to the nuxtent slack channel

[2018-03-26 14:54] soliury commented on #5
But if I add a new markdown file, it will build failed. Can add the hot reloading when delete a file or add file?

[2018-03-26 15:03] dimitrieh commented on #150
@joostdecock do you mind taking a look at https://gitlab.com/dimitrieh/nuxtent-section-demo ? trying to get a really simple demo going showing off this feature! 😄

Something is going wrong 🐙

[2018-03-26 15:17] joostdecock commented on #150
Connect your browser to http://localhost:3000/content-api I think it will give you a better understanding of what to expect from that api, and what the influence is of changing the path and permalink settings in the nuxtent.config.js file.

[2018-03-26 15:24] soliury opened #153 "When add or delete markdown file, it won't rebuild the page database"
When add or delete markdown file, it won't rebuild the page database.

I think it should rebuild the database so that we can add or delete markdown file without restart nuxt server.

[2018-03-26 16:14] joostdecock opened #154 "Documentation uses `anchorLevel` but the code uses `anchorsLevel`"
So you can set `anchorLevel` to whatever you want, it will get ignored.

You have to set `anchorsLevel` (note the extra s)

Faulty docs here: https://nuxtent.now.sh/guide/configuration

[2018-03-27 00:51] dimitrieh commented on #153
I second this! This was one of the things that was confusing me as well

[2018-03-27 01:17] dimitrieh commented on #150
@joostdecock I got it working 😄

thanks for the tip, helped a lot!

[2018-03-28 02:52] joostdecock commented on #113
@raae I know this has been open for a while, but I think you might be confusing two things:

 - `path` : The path used to fetch the item from the content API
 - `permalink` : The path used by the (user in) the browser

So, in the screenshot above, you have a content entry with:

 - `path` : `/projects/projects/project1`  => Use this to fetch from content-api in the page for your dynamic root
 - `p

[2018-03-30 22:37] dimitrieh commented on #117
This has been killing me. Why was it failing.... oh just because of some `.DS_Store` files 😮

[2018-04-02 06:34] joostdecock commented on #62
Feel free to copy this: https://github.com/joostdecock/nuxtdown-module/blob/master/README.md#ispost

[2018-04-03 11:00] dimitrieh opened #161 "How to reference an image inside your nuxtent markdown content file?"
I could not find this anywhere in the documentation, so I think its best to get this issue out there.

When using HTML or markdown, the following does not work:

`![img](~/assets/img/image.jpeg)`

or

`<img src="~/assets/img/image.jpeg">`

Help is appreciated! If I find out myself, I will document here! 😉

[2018-04-03 11:00] #161 closed

[2018-04-03 11:16] dimitrieh commented on #161
should this be closed instantly due to a bot? cc: @joostdecock

[2018-04-03 11:30] joostdecock commented on #161
Please create your issue through https://nuxtjs.cmty.io

This is a new policy that applies to all nuxt-community repos.

On Tue, Apr 3, 2018, 13:17 Dimitrie Hoekstra <notifications@github.com>
wrote:

[2018-04-03 11:35] dimitrieh commented on #161
done https://nuxtjs.cmty.io/nuxt-community/nuxtent-module/issues/c123

[2018-04-08 22:19] Gingernaut opened #164 "Unable to extend markdown parser"
### Version

[1.4.1](https://github.com/nuxt-community/nuxtent-module/releases/tag/1.4.1)

### Reproduction link

[https://github.com/Gingernaut/gingernaut.github.io/tree/dev](https://github.com/Gingernaut/gingernaut.github.io/tree/dev)

### Steps to reproduce

Extending the markdown parser in my `nuxtent.config.js` does not work, using the Prism.js configuration at https://nuxtent.now.sh/guide/co

[2018-04-11 11:41] davidroyer commented on #164
@Gingernaut

Try this and see if it works for you.
[code]

[2018-04-12 03:46] Gingernaut commented on #164
That did work for me, thanks for the help.

[2018-04-13 06:47] davidroyer commented on #164
No problem at all. :thumbsup:

[2018-04-16 18:52] peXed opened #165 "Joining URLs with path.join?"
Hello!

I currently try to implement nuxtent into my nuxt project on a windows machine.
I followed the docs carefully but couldn't get it to run.

It seems in the current code, join from nodes path api is used. This should not be used for joining URLs (on windows, you will get URLs with double backslashes).
We could implement this https://github.com/jfromaniello/url-join to join the urls or try to

[2018-04-16 18:52] #165 closed

[2018-04-16 22:08] #164 closed

[2018-04-24 00:24] ekoeryanto opened #167 "Gray Matter"
Halo, is there a plan to use gray-matter instead of front-matter as it feature is promising?

[2018-04-24 00:24] #167 closed, assigned to nobody

[2018-04-24 02:11] ekoeryanto opened #168 "Excerpt"
### What problem does this feature solve?

it solve big data in a blog list

### What does the proposed changes look like?

`front-matter` change to `gray-matter` that already has excerpt option

<div align="right"><sub><em>This feature request is available on <a href="https://nuxtjs.cmty.io">Nuxt.js</a> community (<a href="https://nuxtjs.cmty.io/nuxt-community/nuxtent-module/issues/c130">#c130</a

[2018-04-27 07:15] mocheaz opened #170 "dn"

[2018-04-27 07:15] #170 closed

[2018-05-04 13:54] ishitatsuyuki commented on #161
You can use `.comp.md` because it's loaded through webpack. If you can, document it as well!

[2018-05-04 14:51] dimitrieh commented on #161
@ishitatsuyuki can you elaborate? :)

[2018-05-04 15:09] ishitatsuyuki commented on #161
@dimitrieh Change the content file extension to `.comp.md` so it's loaded into the Webpack bundle. At there Webpack import syntax will just work.

[2018-05-04 15:26] ishitatsuyuki commented on #161
@dimitrieh The article markdown, of course.

[2018-05-12 14:15] cschroeter opened #172 "Sitemap example project fails"
### Version

[1.4.1](https://github.com/nuxt-community/nuxtent-module/releases/tag/1.4.1)

### Reproduction link

[https://github.com/nuxt-community/nuxtent-module/tree/master/examples/sitemap](https://github.com/nuxt-community/nuxtent-module/tree/master/examples/sitemap)

### Steps to reproduce

Checkout sitemap example project, yarn && yarn generate

### What is expected ?

A generated sitemap.x

[2018-05-16 13:38] eduplessis commented on #129
That's what I got when trying to run the examples/multiple-content-types
`
nuxt:render Rendering url /archives +29s
  nuxt:render Rendering url /content-api//posts/? +2ms
{ statusCode: 404,
  path: '/content-api//posts/?',
  message: 'This page could not be found' }

 ERROR

  Error: Request failed with status code 404

  - createError.js:16 createError
    [multiple-content-types]/[axios]/lib/cor

[2018-05-25 06:10] mgrandl commented on #172
@cschroeter Hey did you find a solution for this? Sturggling with the same right now.

[2018-05-25 06:26] cschroeter commented on #172
@mgrandl unfortunately not. But you could start your app in parallel  and then run `generate`. This don't work on my CI setup but it works locally

[2018-05-25 06:30] mgrandl commented on #172
@cschroeter Thanks for the response. This doesn't work, as the `generate` tries to open the same port. Am I missing something?

[2018-05-28 13:56] mgrandl opened #173 "Give the ability to render the slug without dates"
My posts look like this

`['posts', {
  page: '/posts/_slug',
  permalink: '/:year/:month/:day/:slug',
  isPost: true,
  generate: ['get', 'getAll']
}]`

Now I want my permalinks not to look like this `/2018/05/28/2018-05-28-lorem-ipsum` but instead like this `/2018/05/28/lorem-ipsum` how do I make this happen?

[2018-05-30 12:38] mgrandl commented on #95
So what's the state on this? Since the PR never got merged, is there any option to disable this obnoxious logging?

[2018-06-04 22:24] fredDesign opened #174 "dependency issue"
Hi,

I'm getting the following error on run dev

This dependency was not found:

* /Users/projets/my-site-nuxtent/.nuxt/client.js in multi webpack-hot-middleware/client?name=client&reload=true&timeout=30000&path=/__webpack_hmr ./.nuxt/client.js

[2018-06-04 22:24] #174 closed

[2018-06-28 06:56] cesasol commented on #85
Update on this, I just implemented but using the fork from @joostdecock so the merge would bring all the changes from his fork and the api changed a bit:

[code]

And for slots I think is better to leave the original vue implentation since markdown doesn't touch html

[code]

Here is the link to the [branch](https://github.com/dinamomx/nuxtent-module/tree/feature/slots)

[2018-06-28 07:14] joostdecock commented on #85
I'd be happy to see things merged upstream, and consolidate our efforts :)

[2018-06-28 22:13] cesasol commented on #85
@joostdecock  Just a question before sending the PR, should I keep the branding nuxtdown from your fork or try reverse all the nuxtdown appareances to nuxtent and restore the readme

[2018-06-29 07:50] joostdecock commented on #85
The reason I changed the name is because I wanted/needed to publish my fork on NPM because I'm using it in production in one of my projects.
There's no real reason like that in nuxtent, so changing things back makes sense, but there are two things to keep in mind:

**Minor: Documentation**

The nuxtdown README is the only place the new functionality is documented. If we put the original README bac

[2018-06-30 00:08] cesasol commented on #85
@joostdecock for my part, I feel like you, I have no experience in the management of an open source project. But I just talked to my boss @ramjamx and we agree to keep mantaining this project as a company since we use it on almost any website we create and feel we owe something to the community.

I think we can start with the project documentation and make the changes compatible with previous vers

[2018-06-30 11:20] joostdecock commented on #85
Cool. Let's do this :)

[2018-06-30 15:14] apmontgomery commented on #85
Great to hear, both of you.  I'm also happy to put some time in this week to help out.

[2018-06-30 19:13] cesasol commented on #174
This doesn't seem a problem with nuxtent. Can you confirm that removing nuxtent from your modules this problem does not appear?

[2018-06-30 19:19] cesasol commented on #173
I will look into this. But as this may potentially break current running sites and permalinks there should be a extra config like `dontRenderDateInSlug: true`

[2018-06-30 20:14] joostdecock commented on #173
Pretty sure this is already possible, look no date in slug: https://freesewing.org/blog/announcing-penelope

[2018-07-05 18:18] #173 closed

[2018-07-05 19:08] cesasol commented on #120
FIxed in c86e33aeb6d9d43c70bdd18ded11ff566dd37794

[2018-07-05 19:08] #120 closed

[2018-07-05 19:14] cesasol commented on #85
Ready for testing on the development branch

[2018-07-05 19:14] #85 closed

[2018-07-05 20:57] cesasol commented on #117
Fixed in development branch

[2018-07-05 20:57] #117 closed

[2018-07-05 21:01] cesasol commented on #144
We will leave this kind of optimization to vue and the userland (programmer).

[2018-07-05 21:01] #144 closed

[2018-07-05 21:01] cesasol commented on #130
Closed thanks to the work of @joostdecock currently on the development branch.

[2018-07-05 21:01] #130 closed

[2018-07-05 21:02] cesasol commented on #141
Could you try this with the development branch?

[2018-07-05 21:08] #150 closed

[2018-07-05 21:10] #152 closed

[2018-07-19 16:00] easherma commented on #161
This is not clear at all

[2018-07-19 18:21] cesasol commented on #161
This module compiles to html as is and it outputs as html, there is no webpack parsing for the content inside the markdown files, so any image or asset should be static.

For the contrary if you use choose to use components (By using .comp.md extension) then it is parsed by webpack and the alias are applied.

[2018-07-19 20:50] cesasol commented on #161
@easherma The documentation does not currently explain this behavior and I'm currently working on fixing some bugs and inconsistencies on the development branch.

[2018-07-24 17:57] renestalder opened #176 "Online documentation unavailable"
### Version

[1.4.1](https://github.com/nuxtent-module/releases/tag/1.4.1)

### Reproduction link

[https://nuxtent.now.sh/](https://nuxtent.now.sh/)

### Steps to reproduce

VIsit https://nuxtent.now.sh/

### What is expected ?

Online documentation to be available.

### What is actually happening?

Getting 402 payment required

<div align="right"><sub><em>This bug report is available on <a href=

[2018-07-24 20:46] renestalder commented on #113
I really don't get those multiple content yes working. I probably tried over 3 hours with different configurations.

Take this simple single content type configuration:

[code]

I have several md files in then `content` folder and in subfolders. They get flattened and stored in the dist folder on `nuxt generate`.

Good so far.

Now I'm changing this to a content type:

[code]

Moving the files to

[2018-07-25 05:29] joostdecock commented on #113
You use `pages/:slug` for the permalink, but the subdirectories are not part of the slug. As such, your permalink a don't match your directory structure, which might be causing the 404s.

Try with `permalink: '/docs/:section*/:slug',` as that should add the directory in there.

There's an example using this [here](https://github.com/freesewing/site/blob/develop/nuxtdown.config.js) but it's from th

[2018-07-25 10:37] ptdev commented on #176
Yes I can confirm this.
If you need to read them, and in case you don't know, when using Chrome you can just add "cache:" before the url and you should be able to access google's cache of the website. and still read the docs.

[2018-07-26 19:44] jfcieslak commented on #176
Would you consider deploying the docs to something free and capable of serving static pages? like github pages or netlify.com ?

[2018-07-29 15:38] renestalder commented on #113
Not sure what you mean with that. In my understanding, my configuration should match content stored in `content/pages`, so with `pages/:slug` as permalink, this would match this structure.

This would mean.
Content: `content/pages/my-page.md`.
Template: `pages/pages/_page.vue`
Permalink: `mywebsite.com/my-page`

What do I misunderstand?

[2018-07-29 15:53] joostdecock commented on #113
It's the subfolders that are a problem. What you describe above works fine if you have all your markdown in 1 folder, but not if you have subfolders.

So:

`/content/pages/my-page.md` and `/content/pages/subdir/my-page.md` have the same slug (my-page).

Your permalinks only include the slug, so the 2pages will end up with the same permalinks. You need to add in the 'sectiin' which is essentially t

[2018-07-29 17:10] renestalder commented on #113
I feel like you misunderstand me. I don't have any subfolders in the `content/pages` folder.
Really, the only thing I did is converting my single content type example above into the multicontent type configuration without adding any other content type. For this I've put my content into `content/pages` instead of `content/` directly, reflected the same structure in `pages/` folder to easier relate.

[2018-07-30 19:33] renestalder commented on #113
@cesasol Thanks a lot for your input. I then gonna try the development branch. Already saw that there are fixes not available on the released version but wasn't sure if it is safe to try.

Let me know if you need contributors. I really would like to keep this project alive and If I can help instead of developing something from scratch for my Netlify CMS coupled websites I'll do that.

[2018-07-30 20:08] renestalder commented on #113
@cesasol With your submodule solution, doesn't Nuxt complain about `import` statements? How you worked around this? In my understanding, Nuxt v1 doesn't support es modules.

[2018-07-30 21:25] cesasol commented on #113
Another thing, where I work we decide to contribute with this project for the same reason as you, not having to develop a cms for static sites from scratch.

[2018-08-01 18:18] BereSoto opened #177 "display informative error message when index is missing"
### Version

[1.4.1](https://github.com/nuxtent-module/releases/tag/1.4.1)

### Reproduction link

[https://codesandbox.io/s/vue](https://codesandbox.io/s/vue)

### Steps to reproduce

- Create a folder without an index.md, index.comp.md inside or a [foldername].comp.md, [foldername.md] at the same level

### What is expected ?

Just to work without index or to display an informative error that ei

[2018-08-04 21:31] cesasol commented on #176
I published the documentation on https://nuxtent-module.netlify.com

And since I don't have admin access to the repo @joostdecock or @alidcastano should update the description on the repo.

[2018-08-04 21:31] #176 closed

[2018-08-05 12:00] joostdecock commented on #176
I've updated the URL in the description, and in the README.

[2018-08-05 15:32] renestalder commented on #176
Thanks a lot, @cesasol, @joostdecock

[2018-08-16 03:34] cesasol opened #179 "✖ error TypeError: request.charCodeAt is not a function"
### Version

[development](https://github.com/nuxtent-module/releases/tag/development)

### Reproduction link

[http://infiniti.dinamo.mx/](http://infiniti.dinamo.mx/)

### Steps to reproduce

Run yarn dev and using markdown components

### What is expected ?

Run without problems, even in threaded mode

### What is actually happening?

There is a weird message when using nuxt-edge that appears wh

[2018-08-16 12:17] laugharn commented on #179
I don't have Nuxtent but I do get this error from the latest nuxt-edge. It's not present in 2.0.0-25569931.85a8af5 but is present in 2.0.0-25573630.6bfa68d

[2018-08-20 14:03] #179 closed

[2018-08-21 00:35] qm3ster commented on #144
Vue isn't concerned with massive chunks of preformatted text, and userland cannot be trusted

[2018-08-21 23:58] cesasol commented on #144
I still think this is fall into the overoptimization problem and will take way to much work and not that much of a benefit for most developers and users using nuxtent. However you are welcome to discuss on gitter or discord. And if you would like to contribute implementing this feature I would suggest to wait unitl we release 3.0.

[2018-08-26 04:30] besnikh commented on #95
@ALL any update on this ?

[2018-08-29 07:57] sebstr1 commented on #129
Multiple content types not working at all for me. I've read the docs several times. Everything works well until I change content to be an array instead of an object. Any solution for this?

[2018-08-29 08:13] sebstr1 commented on #141
Just spent hours trying to understand why multiple content-types didnt work for me. I use Windows 10 on my desktop. Fond this post now and installed the project on my Linux laptop, instantly worked.

[2018-08-29 08:41] sebstr1 commented on #129
@renestalder Thank you, I will look into that instantly!

[2018-08-29 09:48] sebstr1 commented on #129
@renestalder What OS are you using? I seem to have the same issue with nuxtent. Im on Windows 10

[2018-08-29 12:25] renestalder commented on #129
@sebstr1 Linux. (Arch)

[2018-08-29 12:27] renestalder commented on #129
@sebstr1 I didn't check the xamples at all. Just from the README, I could easily setup multiple content with nuxtdown after switching out the module in the nuxt configuration and changing the nuxtent tags in the Vue templates to nuxtdown.

[2018-08-29 16:59] sebstr1 commented on #129
Ok, after some more fiddeling I figured it out, working on my Linux machine! The same config does not work at all for Windows though.

[2018-08-29 18:41] cesasol commented on #129
We are working on Windows support. A workaround is to use the Linux subsystem on w10

[2018-08-29 20:07] Towerism commented on #141
I believe it's because paths are not handled in a cross-platform manner. Either way, I switched to docker-compose for development to get around this issue.

[2018-09-13 09:43] influx-agence opened #180 "404 on refresh post"
**Describe the bug**
Hello,
That's my problem:
When I go to my blog, the list of articles is displayed well. Once I go to an article and refresh the page I find a 404 error.
Looking more ready the networks I realize that the .JSON normally called has two points after refreshment
(*Myurl.com/_nuxt/content/name..json*)
Someone will have an idea where it might come from?
Thx for your rep :+1:

**To R

[2018-09-13 09:56] joostdecock commented on #180
This is a Nuxt 404, it doesn't seem to be specific to the Nuxtend module.

What I assume happens is this:

- You land on https://influx-agence.netlify.com/blog/ and Nuxt bootstraps in SPA mode
- You then click on the blog link. Client-side routing kicks in, so Nuxt knows what to serve you
- Now you reload the page. The request arrives server-side, but there is no route for this page, so you get a

[2018-09-13 10:13] influx-agence commented on #180
Okay I will try to see
But if the double point before the call of the JSON was only a simple point, it would probably work no ?

[2018-09-13 12:14] deepstha commented on #117
I also got the same error because i defined ${+params.id} for generating dynamic id, i.e
 axios.get(`https://my.api?type=detail&id=${+params.id}`)

It works fine if I do as follows:
axios.get(`https://my.api?type=detail&id=123`)

Please ! anyone could help me what is the mistake here ?

[2018-09-13 13:10] alidcastano commented on #117
im not a maintainer anymore but quickly looking t your comment i'm thinking if you remove plus sign it mgiht work

[2018-09-13 13:20] joostdecock commented on #117
Try:
[code]

[2018-09-17 09:18] influx-agence commented on #180
Okay
i create [_redirects](https://github.com/influx-agence/Nuxtlify/blob/master/static/_redirects) in my **static** folder

The problem remains the same.
I'm no more error 404 but the .json still has two points ..

[2018-09-18 00:53] influx-agence commented on #53
[re up ?](https://github.com/nuxt/nuxt.js/issues/3881#issuecomment-422206760)

[2018-09-18 05:59] cesasol commented on #180
@influx-agence as I pointed out in  [here](https://github.com/nuxt/nuxt.js/issues/3881#issuecomment-422264670), the problem was that nuxtent does not support json file types, just changing it to markdown format and using a yaml frontmatter format fixed the issue, also you can use a yaml format for your data or even mixing it.

[2018-09-18 15:19] influx-agence commented on #180
Like this ? ( thx cesasol for rep :) )
![image](https://user-images.githubusercontent.com/43016695/45697847-f79b2b80-bb66-11e8-8db9-facfc130bd5c.png)

[2018-09-19 16:55] nathanchase commented on #17
I have this issue with Nuxtent as well. It seems everyone on my team using Mac/Linux have no issues, but because I'm on a Windows machine, somehow things fail? With nuxtent removed, the app is fine, so there's definitely something going on here.

[2018-09-20 10:27] influx-agence commented on #180
Up plz :(

[2018-09-23 09:33] influx-agence commented on #180
up

[2018-10-07 12:04] channeladam commented on #129
Might be nice to insert a warning into the README to let people know that it doesn't work on Windows... rather than having people like me wasting hours and thinking it is something they misconfigured.

[2018-10-10 01:09] cesasol opened #182 "Roadmap for v3"
This is a list of goals to meet before releasing a stable 3 version:

- [ ] Improve the documentation and at least a spanish translation
- [ ] Windows compatible (Help needed)
- [ ] Be zeroconf and extendible through it's own api and exposing the markdown parser
- [ ] Allow default attributes to be set on the frontmatter ej. title
- [ ] Real async modules (this affects ssr more than a static build

[2018-11-18 08:46] matjaeck commented on #176
Hi, seems the homepage is down again (../guides works).

[2018-11-20 06:04] brandonpittman opened #189 "Nuxtent cannot load pages when @nuxtjs/axios is registered as a module"
### Version

[1.4.1](https://github.com/nuxtent-module/releases/tag/1.4.1)

### Reproduction link

[https://github.com/brandonpittman/nuxtent-module/blob/master/examples/multiple-content-types/nuxt.config.js](https://github.com/brandonpittman/nuxtent-module/blob/master/examples/multiple-content-types/nuxt.config.js)

### Steps to reproduce

Add '@nuxtjs/axios' to nuxt.config.js

### What is expect

[2018-11-20 08:34] renestalder commented on #189
@brandonpittman Could you elaborate what you mean by "Nuxtent cannot load pages"? Do you have build errors? Do you have run-time errors? What are the error messages?

[2018-11-20 08:44] brandonpittman commented on #189
404s.

[2018-11-20 08:46] brandonpittman commented on #189
None of the examples in the repo here have @nuxtjs/axios declared as a module. If you do, you might just see what I mean. I tried it with the example repo, and it did the same thing.

[2018-11-20 08:55] renestalder commented on #189
@brandonpittman Ah, okay, I see. I probably never used Axios with it.

Just out of personal curiosity, I would be interested if you have the same problems with Nuxtdown.
https://github.com/joostdecock/nuxtdown-module

Basically a fork that fixed some major issues and I used that fork for my projects as long as those major issues exist in Nuxtent.

[2018-11-20 09:09] joostdecock commented on #189
This is from the top of my head, and I'm on my phone, so take  it with a grain of salt:

If you're using axios in your own project, you need to be careful to keep two different instances with their own configuration. If you mix them up, nuxtent won't be able olto connect to the content-api.

A quick way to check is to open your browser development tools, and check the AJAX requests. Where are they

[2018-11-20 09:11] joostdecock commented on #189
Check the API configuration section here: https://github.com/joostdecock/nuxtdown-module/blob/master/README.md#api-configuration

[2018-11-20 09:38] brandonpittman commented on #189
nuxtdown has the same problem.

[2018-11-20 09:39] renestalder commented on #189
@brandonpittman Thanks for testing.

[2018-11-20 13:09] brandonpittman commented on #189
So, are you guys who use Nuxtdown just pulling in Axios on a per-component basis?

[2018-11-20 13:12] joostdecock commented on #189
Here's an example of a repo that uses nuxtdown and axios for other things: https://github.com/freesewing/site/blob/develop/nuxt/plugins/fs.js

[2018-12-03 15:19] ptdev commented on #189
This is helpful but (imho) it's this module that should be using an isolated instance of the axios configuration instead of having it break the default axios configuration.

As it stands now, if one needs to use the official [@nuxtjs/axios](https://axios.nuxtjs.org/setup) module for other purposes, then setting it up according to the documentation will break the content api.

I think this module s

[2018-12-14 17:35] cesasol commented on #189
Is one of the first things I changed when starting the update, there is some progress but is slow. You can see the code on the development branch and is published [here](https://www.npmjs.com/package/@dinamomx/nuxtent) you can install it with npm i --save @dinamomx/nuxtent

[2018-12-21 23:14] chadananda commented on #145
For example, the 'page' field (which indicates which .vue file will be responsible to display this content type) is described in the docs as "specifies page directory".  ;)   That will surely throw anyone off the trail. The only way to recover productivity is to read the description of the same field at nuxtdown-module:

[2018-12-24 09:57] OfekA opened #190 "Nuxt 2.3.x and above failing to build Nuxtent pages"
### Version

[1.4.1](https://github.com/nuxtent-module/releases/tag/1.4.1)

### Reproduction link

[https://github.com/OfekA/static-site-nuxt-issue](https://github.com/OfekA/static-site-nuxt-issue)

### Steps to reproduce

- clone the repo from the Reproduction link
- `npm install`
- `npm run generate`
- the build should be successful including Nuxtent pages (path: `/careers`)
you should see somet

[2018-12-24 20:18] cesasol commented on #190
Nuxt indeed broke nuxtent and there is a fix but is not backwards compatible, that's why it wasn't updated. You can install [@dinamomx/nuxtent](https://www.npmjs.com/package/@dinamomx/nuxtent) that is like a beta version of this package.

[2018-12-24 20:18] #190 closed

[2019-01-17 16:48] Skriptach commented on #95
I have find this topic by googling. I need feature be able to choose log level detalization. Cuz I do not need to duplicate [read consume disc space] this requests in log. I already have access.log from nginx

[2019-01-31 22:45] chadananda commented on #180
Has anyone found a work-around?

This kind of ruins nuxtent for static sites. All the content fails to refresh or load directly with the 404 on `post name..json`

[2019-02-01 09:09] JinJinSu commented on #117
I am getting 404 error when hit nuxtent api directly on browser.
But when I use the content permalink(in <nuxt-link>) from main page, the contest is displayed without any glitches.
But when I refresh the content page or hit the permalink directly on the browser, I am getting 404 error.
Please help me.
Thank you.

[2019-02-01 10:03] renestalder commented on #117
If you have a 404, first check if nuxt generate creates HTML files of all of your pages in your dist folder. If this is not a case, the routes are not configured correctly.

I also faced these issues in the begining, but apparently never had them later.

[2019-02-01 10:11] JinJinSu commented on #117
@renestalder
I am using Nuxtent API and it is working on local.
But it isn't working on production version.
Also when ran "nuxt generate", contents files are converted to JSON files in dist folder.

[2019-02-14 21:52] renestalder commented on #182
@cesasol Just want to check in. Is there a plan of action for continuous development? Or do you recommend alternatives to nuxtent?

I really love how this module works and I would even help you to develop it further. I currently use a fork of this project, but all the forks state that the "maybe" get merged some day. You especially did quite some changes on the development branch, so I wondering,

[2019-02-15 19:59] rwwagner90 commented on #190
Any updates on this?

[2019-02-15 20:14] rwwagner90 commented on #190
@cesasol @OfekA I am unable to get `@dinamomx/nuxtent` to work either. Is there another workaround for Nuxt `2.4.x`?

[2019-02-15 23:22] renestalder commented on #190
That's also my biggest blocker currently. If there is a fix, couldn't that be cherry picked to master and released as patch?

[2019-02-16 08:30] OfekA commented on #190
@rwwagner90 @renestalder This issue is really annoying and I'm not sure why the issue was closed as it's very critical.

Anyway, `@dinamomx/nuxtent` does work for me on the latest nuxt, I'll try to help:

- Make sure you have `"@dinamomx/nuxtent": "3.0.1"` in your `package.json`.
- Make sure you have `"@dinamomx/nuxtent"` under `modules` in `nuxt.config.js`
- I have my Nuxtent config under `nuxten

[2019-02-16 13:22] rwwagner90 commented on #190
@OfekA do you have an example app I could take a look at? When I run `nuxt generate` I get an error:

[code]

If I run in `dev` and go to `localhost:3000` I see a giant block of text, rather than the site as well. It appears to just spit out all the JSON.

[2019-02-16 13:27] renestalder commented on #190
@OfekA I just don't like the note in the README of that branch/npm package that tells me to not use it in production.

[2019-02-16 23:25] chadananda opened #192 "Is there any combination of nuxtent & nuxt that actually work for static build?"
I've tried about every combination of versions of Nuxtent and Nuxt and Nuxtdown. They all work perfectly fine in development (with server-generated content) but the moment I try to `nuxt generate` and deploy, I get a total fail.

Generally the issues are:

1. No post stubs or JSON content is generated in `/dist` for the latest builds (including Nuxtdown)

2. Older versions of nuxt/nuxtent sometime

[2019-02-16 23:25] #192 closed

[2019-02-17 09:59] joostdecock commented on #182
Guys, I should perhaps clarify my (lack of) involvement in this project. As you may or may not know, I'm using nuxtdown in production on freesewing.org, and that's how I got involved in the first place.

However, I've been working on a new frontend built on React/Gastby, and as soon as it's ready I will no longer have a stake in Nuxtent.

That being said, I think this is a very useful module, and

[2019-02-18 10:39] manniL commented on #182
@joostdecock I'd love to hear the reasons why you switched over ☺️

[2019-02-18 15:28] joostdecock commented on #182
We currently [deploy about 2700 pages](https://app.netlify.com/sites/fs-beta/deploys/5c68391eaef3dc0008d7fdfc), and the vast majority of those are just embellished markdown.

We have a ton of documentation, we have blog posts, showcases from the community, 5 different languages, and other things that are more *website* than *app*.

For our needs, Gatbsy and the ecosystem around it felt like a bett

[2019-02-18 15:43] renestalder commented on #182
Maybe a bit off-topic here but keep [Gridsome](https://gridsome.org/) on the radar if you look for something similar like Gatsby for Vue.js.

That's also my next alternative after Nuxtent (maybe will desperately fork @joostdecock's Nuxtdown branch and try to fix some things but if this doesn't work, probably make the switch).

[2019-02-18 15:46] manniL commented on #182
@renestalder We really want to improve the "static" part of nuxt, especially when it comes to easier integrations.

I'm pretty sure that Nuxtent and the full-static mode are two points to start with but not the end of the improvements.

[2019-02-18 15:46] manniL commented on #182
@joostdecock Interesting! Thanks for the insights ☺️

[2019-02-18 15:51] renestalder commented on #182
@manniL Thanks for the info. I somehow just would wish that the patches that are applied on one of the development branches now (especially for Nuxt 2.3 compatibility) would go into a patch release. I see that some refactoring is going on but I wonder if that is required for releasing some patches at this moment. It doesn't make much sense for me to now dig into the code to apply the patches for m

[2019-02-18 16:51] cesasol commented on #182
@renestalder I use it in production for many sites. It's just that I haven't had the time to keep documenting all that is going on, there is some progress to document and refactor all the code to make possible what @joostdecock does but with Nuxt and async components.

But with my team we are looking to keep maintaining this as well as possible but is not really our highest priority.

[2019-02-18 16:57] cesasol commented on #182
@manniL I'm looking to keep track of [this](https://github.com/nuxt/rfcs/issues/22) and add some ideas from my experience with nuxt.

[2019-02-20 18:11] chadananda commented on #182
It would be pretty great to get robust data API plugins into Nuxt -- and dispense entirely with the need for Nuxtent.

[2019-04-17 14:28] OfekA commented on #190
@renestalder @rwwagner90 We have now completely stopped using nuxtent because all the issues it had, I was able to quickly convert our old markdown content to be using [nuxt-gustave](https://github.com/yann-yinn/nuxt-gustave) within 1 hour and update to the latest nuxt@2.6.2, hopefully, this will help...

[2019-04-19 15:44] Vector-SMG opened #194 "how to import third-part components"

[2019-04-19 15:45] #194 closed

[2019-04-26 03:45] callumflack commented on #182
I've been using Nuxtent for a while, since @alidcastano started it. At the moment, I don't like that I can't use it with the ongoing progress of Nuxt v2.

I've also seen the rise of MDX. The React folk seem to be taking the idea of "markdown for the component era" to a new level within Storybook or @jxnblk's [MDX Blocks](https://github.com/jxnblk/mdx-blocks) ideas. Although there is [an example of

[2019-04-26 21:46] cesasol commented on #182
It looks that it has a different approach to a similar end, at work we use markdown components (.comp.md files) with custom vue components for each site we build, so I think nuxtent already has and had for quite some time the ability to compose complex page structures with layout and presentational components. However if you point out something that could be missing from nuxtent I will be glad to

[2019-04-26 21:52] cesasol commented on #182
@chadananda I don't think a fully robust api is the way to go, as far as the (little) feedback that this module has gotten most people use it with the generate option, so i don't think a fully sql like query api would bee appropriate but I do think that it can be better with thinks like paginating and custom ordering.

[2019-04-26 21:59] cesasol commented on #190
@OfekA Sorry for the radio silence, as the now only maintainer there is so much that I can when I have a full time project, but there is a new version [@dinamomx/nuxtent](https://www.npmjs.com/package/@dinamomx/nuxtent) that works with nuxt 2.6.* and  Gustave looks interesting, sure there is something that I can learn from them

[2019-04-27 08:26] OfekA commented on #190
@cesasol No hard feelings, and thanks for still supporting Nuxtent, it served us well and IMO this is mostly the fault of Nuxt for breaking support **multiple times** for such a core plugin in their ecosystem.

[2019-04-27 13:23] rwwagner90 commented on #190
The `@dinamomx/nuxtent` actually does not work either. I ended up needing to just use the webpack [frontmatter-markdown-loader](https://www.npmjs.com/package/frontmatter-markdown-loader) and do things manually.

[2019-04-27 13:24] rwwagner90 commented on #190
@cesasol perhaps we could collaborate with whoever is working on the dinamomx one and get some more maintainers added here?

[2019-04-29 10:52] callumflack commented on #182
@cesasol huge! Going to test your new commits in [my business site repo](https://github.com/callumflack/callum-flack-design) this coming week.

I don't feel my JS isn't good enough to help out. Else I would offer. I'm grateful that you're doing this.

[2019-04-30 22:31] cesasol commented on #182
@callumflack Testing is a great way to collaborate!

[2019-04-30 22:34] cesasol commented on #190
@rwwagner90 I am the maintainer of the dinamomx repo but that fork is intended as a mirror to work with full admin permission for deployment purposes making this repo the official one. So it would make sense to collaborate to this one repo

[2019-04-30 23:37] callumflack commented on #182
@cesasol then I shall test shortly, this week ;)

[2019-05-01 13:25] rwwagner90 commented on #190
@cesasol I'm not sure I understand, but okay. Are you able to add maintainers here?

[2019-05-02 01:46] callumflack commented on #182
@cesasol so sorry but how would I use your latest commits to test?

In my naive attempt at adding the commit to my package.json, yarn forces me to select a release version:

![image](https://user-images.githubusercontent.com/749885/57053183-bf98c100-6ccf-11e9-850c-af7bb83dc997.png)

[2019-05-02 18:39] cesasol commented on #182
You could use the @dinamomx/nuxtent package, is published on npm and currently has the latest commit.

[2019-05-02 18:41] cesasol commented on #190
@rwwagner90 Not here, alidcastano only put me as a collaborator on this repo so I don't have to many privileges

[2019-05-08 15:01] Gor98 opened #217 "Different redirect routes for different strategies"
HI,
have an problem with redirect routes. How can I set different redirect rout for
different auth strategies in my nuxt.config.js
This is my config file.
[code]

[2019-05-08 15:01] #217 closed

[2019-06-21 10:01] florentb commented on #127
Same problem here. Using Nextent in combinaison with dynamic routes (as explained in [Nuxt doc](https://nuxtjs.org/api/configuration-generate/#function-which-returns-a-promise)) fails.

[2019-12-24 02:21] brandonpittman commented on #189
No one cares about this.

[2019-12-24 02:21] #189 closed

[2020-10-23 10:57] Atinux opened #280 "Deprecate the module"
[ ] Deprecate on NPM to link to https://content.nuxtjs.org
[ ] Add note on README
[ ] Clean issues
[ ] Archive the repository

[2020-10-23 10:58] Atinux commented on #280
@alidlorenzo can you confirm me that I can do this?

[2020-10-23 13:32] alidlorenzo commented on #280
Sure; great work on nuxt/content, btw

[2020-12-06 23:47] Atinux commented on #280
Thank you @alidlorenzo!